#myorders-link{
    color:black;
}
a:hover{
    color:black;
}
.navigation{
    position:relative;
    font-family:var(--fontReview);
    top:28vh;
}
.private-cabinet{
    position:relative;
    font-size:5vh;
    right:75vh;
}

.cabinet-links{
    margin-top:4.5vh;
    display:flex;
    flex-direction: column;
    gap:4.5vh;
    position:relative;
    font-size:2.25vh;
    right:75vh;
}
.cabinet-link{
    color:rgba(158, 160, 170, 1);
    font-family: var(--fontReview);
    letter-spacing: 0.05vw;
    font-weight: 500; 
}
p{
    font-family:var(--fontReview)
}
h1{
    font-family:var(--fontReview)
}
.my-orders{
    position:relative;
    right:10vh;
    bottom:9.5vh;
}
.main{
    border: 0.2vh solid #E7E7EA;
    padding:2vh;
    padding-bottom:0vh;
    width:60vw;
    height:90vh;
    padding-left:0vh;
    position:relative;
    left:26.25vh;
    bottom:5vh;
}
.parcel-count{
    color:grey;
    margin-bottom:1vh;
    margin-left:2.5vh;
}
.product-registration{
    margin-left:2.5vh;
    margin-bottom:3vh;
}
.shipment-count{
    position:relative;
    color:grey;
    left:35vh;
    bottom:9vh;
    margin-bottom:1vh;
}
.shipment-number{
    position:relative;
    left:35vh;
    bottom:9vh;
}
.order-sum{
    color:grey;
    position:relative;
    left:62.5vh;
    bottom:15vh;
    margin-bottom:1vh;
}
.order-sum-number{
    position:relative;
    left:62.5vh;
    bottom:15vh;
}
.shipment-count-text{
    position:relative;
    color:grey;
    bottom:20vh;
    margin-left:2.5vh
}
.shipment-count-number{
    position:relative;
    bottom:22.35vh;
    margin-left:2.5vh;
    left:22.5vh;
}
.copy{
    position:relative;
    left:43vh;
    bottom:24.75vh;
}
.drone-first-img{
    position:relative;
    left:97.5vh;
    bottom:22.5vh;
    width:10vw;
    height:10vh;
}
.galochka{
    position:relative;
    left:120vh;
    bottom:25.5vh;
}
.order-stages .order-line .line{
    left:2.5vh;
    top:20vh;
    position:absolute;
    background-color:#CDD5DD;
    width:120vh;
    height:0.95vh;
    border-radius:25%;
}
.truck-image{
    position:relative;
    bottom:23.25vh;
    left:7.5vh;
    z-index:2;
}
.issued{
    position:relative;
}
.completed-line{
    background-color:black;
    position:absolute;
    width:7.5vh;
    height:1vh;
    top:20vh;
    right:116.5vh;
    z-index:1;
    border-radius:25%;
}
.last-stages{
    position:relative;
    left:3.5vh;
    bottom:22.5vh;
    display:flex;
    flex-direction:row;
    gap:15.5vh;
}
.status{
    width:2.15vh;
    height:2.15vh;
    background-color:white;
    border:0.1vh solid #CDD5DD;
    border-radius:50%;
}
.statuses{
    position:relative;
    display:flex;
    flex-direction:row;
    gap:23.5vh;
    left:35vh;
    bottom:29.5vh;
}
.order-info-title{
    color:grey;
    position:relative;
    bottom:20vh;
    left:2vh;
}
.delivering-address-title{
    position:relative;
    color:grey;
    bottom:15vh;
    left:2vh;
}
.new-post-station{
    position: relative;
    bottom:14vh;
    left:2vh;
}
.delivering-address{
    position: relative;
    bottom:12vh;
    left:2vh;
}
.recipient-title{
    position:relative;
    color:grey;
    left:2vh;
    bottom:8.5vh;
}
.recipient-name-number{
    position:relative;
    left:2vh;
    bottom:7.5vh;
}   
.recipient-info{
    display:flex;
    flex-direction:column;
    gap:1.5vh;
}
.keys{
    position:relative;
    display:flex;
    color:grey;
    gap:10vh;
    left:49.5vh;
    bottom:34vh;
}
.values{
    position:relative;
    display:flex;
    gap:3.5vh;
    bottom:30vh;
    left:52.5vh;
}
.drone-second-image{
    position:relative;
    right:4vh;
    bottom:3.5vh;
}
.sum{
    position:relative;
    left:20vh;
    bottom:1.5vh;
}
.amount{
    position:relative;
    left:10vh;
    bottom:1vh;
}
.cost-w-sale{
    color:red;
    position:relative;
    left:79vh;
    bottom:36.5vh;
}
.cost{
    position:relative;
    bottom:2vh;
    left:2vh;
}
.name{
    position:relative;
    bottom:1vh;
}
.payment-keys{
    color:grey;
    display:flex;
    flex-direction: column;
    gap:1.5vh;
}
.payment-values{
    position:relative;
    display:flex;
    flex-direction:column;
    gap:1.5vh;
    left:20vh;
    bottom:18vh;
}
.payment-dict{
    position:relative;
    left:49.25vh;
    bottom:30vh;
}
.decline{
    position:relative;
    left:48.75vh;
    bottom:50vh;
    font-size: 3vh;  
    font-family: var(--fontReview);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5vw;
    width: 10vw;
    height: 7.15vh;
    border-radius: 5vh;
    border: 0.15vw solid black;
    background-color: #ffffff;
    color: #000000;
    margin-top: 30px;
    padding: 0.25vh 0.5vw 0.25vh 0.5vw; 
}
.payment-separator{
    position:relative;
    background-color: grey;
    width:50vh;
    height:0.15vh;
    transform: rotate(90deg);
    bottom:60vh;
    left:20vh;
}
.not-main{
    display:flex;
    border: 0.2vh solid #E7E7EA;
    padding:2vh;
    padding-bottom:0vh;
    position:relative;
    width:60vw;
    left:26.25vh;
    height:10vh;
    gap:2vw;
}
.parcel-second-count{
    color:grey;
}
.shipment-second-count{
    color:grey;
}
.order-second-sum{
    color:grey;
}
.not-main-first{
    display:flex;
    flex-direction:column;
    gap:0.5vh;
}
.not-main-second{
    display:flex;
    flex-direction:column;
    gap:0.5vh;
}
.not-main-third{
    display:flex;
    flex-direction:column;
    gap:0.5vh;
}
.circle{
    position:relative;
    right:101vh;
    top:1.5vh;
    background-color: #4DBC4B;
    border-radius:50%;
    width:2.5vh;
    height:2.5vh;
}
.thermal-imager{
    position:relative;
    left:20vh;
    bottom:1vh;
}
.second-galochka{
    width:5vh;
    height:5vh;
    position:relative;
    left:17.5vh;
    top:0.5vh;
    transform:rotate(180deg)
}
.non-circle{
    display:flex;
    position:relative;
    left:6.5vh;
    gap:3vh;
}