{% extends "base.html"%}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename= 'css/home_header.css') }}">
{% endblock %}

{% block header %}
    <div class="ellipse"></div>
    <span class="slogan">
        <p>ТЕХНОЛОГІЇ</p>
        <p>ЯКІ ЗМІНЮЮТЬ РЕАЛЬНІСТЬ</p>
    </span>
    <img class="drones" src="{{ url_for('home.static', filename= 'icon/drones.svg') }}" alt="">
    <div class="catalog">
        <p>Передові технології в одному місці.
            <br>
            Обирай найкраще для найважливішого.</p>
        <button class="button_catalog">До каталогу</button>
    </div>
{% endblock %}

{% block content %}
        <h1>Home page</h1>
        <h1 style = "color : rgb(34, 34, 34)">ПРО НАС </h1>
        <p style = "color : rgb(80, 80, 80)">Ми — команда, що об'єднує технології та надійність.  Пропонуємо дрони й тепловізори, перевірені у найскладніших умовах.  Обираємо тільки те, чому довіряємо самі</p>
        <button type = "button">Читати більше</button>
        <h1 style = "color : rgb(80, 80, 80)">Нове на сайті</h1>
    <div class = "Krytoi klassny dron"></div>
        <p style = "color : rgb(110, 110, 110)">Крутой классный дрон </p>
        <img src="kartinka.jpg" alt="картинка з крутим дроном"> 
        <p style = "color : green">Від 200$</p>

{% endblock %}

{% block footer %}
    <h1 style = "color : #0C122A">1k
    <br>
    Успішних відправок
    </h1>
    <h1 style = "color : #0C122A">
        1.5K
        <br>
        Задоволених клієнтів
    </h1>
    <h1 style = "color : #0C122A">
        24/7
        <br>
        Підтримка клієнтів
    </h1>
    <p style = "color : #0C122A">DRONES</p>
    <p style = "color : #0C122A">КАТАЛОГ</p>
    <p style = "color : #0C122A">ПРО НАС</p>
    <p style = "color : #0C122A">КОНТАКТИ</p>
    <p style = "color : #0C122A">КОШИК</p>
    <p style = "color : #0C122A">КАБІНЕТ</p>

{% endblock %}