{% extends "base.html"%}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename= 'css/home_header.css') }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename= 'css/home_main.css') }}">
    <link rel="stylesheet" href="{{ url_for('home.static', filename= 'css/home_animations.css') }}">
{% endblock %}

{% block header %}
    <div class="ellipse"></div>
    <span class="slogan">
        <p class = "technologies">ТЕХНОЛОГІЇ</p>
        <div class = "changing-the-world">
        <p class = "changing">ЯКІ ЗМІНЮЮТЬ</p>
        <p class = "reality">РЕАЛЬНІСТЬ</p>
        </div>
    </span>
    <img class="drones" src="{{ url_for('home.static', filename= 'icon/drones.svg') }}" alt="">
    <div class="catalog">
        <p class="catalog_text">Передові технології в одному місці.
            <br class = "header-separator">
            Обирай найкраще для найважливішого.</p>
            <button onclick="window.location.href='/shop' "id = "catalog-btn" class="button_catalog">ДО КАТАЛОГУ <div class = "white-arrow-div"></div></button>

    </div>        
    
    

{% endblock %}

{% block content %}
    <div class="about_us">
        <h1>ПРО НАС</h1>
        <p class= "about_us_p"> Ми — команда, що об'єднує технології та надійність. 
            <br>
            Пропонуємо дрони й тепловізори, перевірені у найскладніших умовах. 
            <br>
            Обираємо тільки те, чому довіряємо самі</p>
        <a href="/about-us"><button class = "button_read" type = "button">ЧИТАТИ БІЛЬШЕ <img class = "arrow" src = "{{ url_for('home.static', filename= 'icon/arrow.svg') }}"></button></a>
    </div> 


    <div class = "news-in-website">

        <h1> НОВЕ НА САЙТІ </h1>
        <div class="cards-container">
            <div class="card-drones" data-card-type="brown">
                <div class="card-bg"> </div>
                <img class = "drone-image" src="{{ url_for('home.static', filename= 'media/images/drones/drone3.png') }}" alt="drone"> 
                <div class = "card-content">
                    <div class="news-drones-text">
                        <h2 class="drone-name"> DJI Mini 4K </h2>
                        <p class="drone-description">Easy-To-Use Mini Camera Drone</p> 
                        <div class="card-buy">
                            <p class = "drone-price">from to $299</p> 
                            <button class="buy-button" id="open-user">
                                        КУПИТИ
                                <img class = "arrow" src = "{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-drones" data-card-type="black">
                <div class="card-bg"> </div>
                <img class = "drone-image" src="{{ url_for('home.static', filename= 'media/images/drones/drone4.png') }}" alt="drone"> 
                <div class = "card-content">
                    <div class="news-drones-text">
                        <h2 class="drone-name"> DJI Mini 4K </h2>
                        <p class="drone-description">Easy-To-Use Mini Camera Drone</p> 
                        <div class="card-buy">
                            <p class = "drone-price">from to $299</p>
                            <button class="buy-button" id="open-user">
                                        КУПИТИ
                                <img class = "arrow" src = "{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-drones" data-card-type="blue">
                <div class="card-bg"> </div>
                <img class = "drone-image" src="{{ url_for('home.static', filename= 'media/images/drones/drone3.png') }}" alt="drone"> 
                <div class = "card-content">
                    <div class="news-drones-text">
                        <h2 class="drone-name"> DJI Mini 4K </h2>
                        <p class="drone-description">Easy-To-Use Mini Camera Drone</p> 
                        <div class="card-buy">
                            <p class = "drone-price">from to $299</p>
                            <button class="buy-button" id="open-user">
                                    КУПИТИ
                                <img class = "arrow" src = "{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}">
                            </button>
                        </div>
                    </div>
                </div>

        </div>
    </div>


    
    <div class="menu_drones"> 
        <h1>КАТАЛОГ</h1>
            <div class = 'products' id="products">
            {% if list_product %}
                {% for product in list_product %}
                <!--  <div id="product-1">  -->
                    <div class = 'product-card' id = "product-{{product.id}}"> 
                        <img class="product-image" src="{{ url_for('shop.static', filename= 'images/products/' + product.product_name + '.png') }}" alt="{{product.product_name}}" >
                        <h2 class = 'product-name'>{{product.product_name}}</h2>

                        {% if product.discount != None %}
                        <div>
                            <span class = 'product_sale'>{{product.price}} ₴</span>
                            <span class = 'product_discount'>{{product.discount}} ₴</span>
                        </div>
                        {% else %}
                            <span class = 'product-price'>{{product.price}} ₴</span>
                        {% endif %}
                        <button class =  "cart-buy" id="{{product.id}}">
                            <img class = "img-cart" src="{{ url_for('shop.static', filename='images/icon/cart-img.svg') }}" alt="КОРЗИНА">
                        </button>
                        <!-- <p>Кількість продукту: {{product.count}}</p> -->
                        <!-- <p>Опис продукту: {{product.description}}</p>  -->

                        <!-- <a href="/buy?id={{product.id}}">BUY</a> -->
                        <!-- <button type="button" class="buy" id="{{product.id}}">Купити</button>-->
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button class="button_catalog_drones"><a href="/shop">ДИВИТИСЬ ВСІ</a><img class="arrow" src="{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}"></button>
    </div>
  
{% endblock %}
