<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock %}</title>
        {% block links %}  {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/logo.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/footer.css') }}">
    </head>
    <body>
        <header>
            <nav class="nav-header">
                <span class="links">
                    <a href="/shop">КАТАЛОГ</a>
                    <a href="/about">ПРО НАС</a>
                    <a href="/contacts">КОНТАКТИ</a>
                </span>

                <div class="logo">
                    <a href = "/">
                        <img src="{{ url_for('static', filename= 'icon/logo.svg') }}" alt="">
                    </a>
                </div>

                <span class="profile">
                        <a href="/cart"> 
                        <div class="cart">
                            <div class="VAY">1</div>
                        </div>
                    </a>
                    {% if current_user.is_authenticated %}
                        <p>{{ current_user.username }}</p>
                        <!--logout username-->
                        <a href = "/logout">Logout</a>
                        <!-- -->
                    {% else %}
                        <a href="/profile">
                            <div class="img-profile"></div>
                        </a>
                        
                    {% endif %}
                </span>
            </nav>
            {% block header %}
                
            {% endblock %}
            
        </header>

        <main>
            <div class = 'cart-page'> 

                <h1 class = "cart-title">Кошик</h1>
                <img class = "cross" src="{{ url_for('static', filename='/icon/cross.png') }}" alt="Крестик">

                <div class = 'card-cart'>

                    <h1 class = "name-of-drone">DJI MINI 4K</h1>
                    <img class = "drone-img-cart" src="{{ url_for('shop.static', filename='images/products/DJI MINI 4K.png') }}" alt="Дрон">
                    <p class = "price">29 990₴</p>
                    <button class = "minus-button" id = "mark">
                        -
                    </button>
                    <h1 class = "amount">1</h1>
                    <button id = "mark" class = "plus-button">
                        +
                    </button>
                    <button class = "trash-can-button">
                        <img class = "trash-can" src="{{ url_for('static', filename='icon/trashcan.png') }}" alt="Урна"> 
                    </button>

                </div>
                <hr class = "cart-line"> 
                <br>
                <hr class = "cart-line"> 
                <div class = "order-sum"> 
                    <p class = "full-amount-title">Загальна сумма</p> 
                    <p class = "discounted">Заощаджено</p>
                    <p class = "with-discount">Зі знижкою </p>
                </div>

                <div class = "order-sum-result">
                    <p class = "full-amount">29900 ₴</p>
                    <p class = "save-discount">- 1105 ₴</p> <!--Конклюзия - В философии: это логическое умозаключение, сделанное на основе анализа данных или рассуждений. -->
                    <p class = "price-with-discount">289858 ₴</p> 
                </div>
                

                <button class = "move-to-bin">Перейти до кошика</button>
                <button class = "make-an-order">Оформити замовлення</button>
                <img class = "arrow" src="" alt="Стрелацька">

            </div>
        
            <div class = "empty_catalog">
                <p>Кошик</p>
                <img class = "cross" src="{{ url_for('static', filename='/icon/cross.png') }}" alt="Крестик">
                <p>Ваш кошик порожній.</p>
                <p>Почніть вибирати товари, щоб вони з’явилися тут</p>
                <button class="continue_shopping">Продовжити покупки</button>
            </div>
        
            {% block content %}  {% endblock %}
        </main>
        <footer>
            <div class="ellipse_footer"></div>
            <img class="footer_drones" src="{{ url_for('home.static', filename= 'icon/text_drones.png') }}">
            <div class="review">
                <div class="successful-shipments">
                    <h1>1K+</h1>
                    <div class="successful-shipments-text">
                        <p>Успішних відправок</p>
                    </div>
                </div>
            
                <div class="satisfied-clients">
                    <h1>1,5K+</h1>
                    <div class="satisfied-clients-text">
                        <p>Задоволених клієнтів</p>
                    </div>
                </div>
            
                <div class="clients-support">
                    <h1>24/7</h1>
                    <div class="clients-support-text">
                        <p>Підтримка клієнтів</p>
                    </div>
                </div>
            
            </div>
            <div class="navigation-footer">
                <p>КАТАЛОГ</p>
                <p>ПРО НАС</p>
                <p>КОНТАКТИ</p>
                <p>КОШИК</p>
                <p>КАБІНЕТ</p>
            </div>
            <hr class="line">
            <div class="copyright">
                <p>© 2025 Drones Всі права захищені.</p>
            </div>

        </footer>

        {% block scripts %}
            
        {% endblock %}
    </body>
</html>