<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}  {% endblock %}</title>
        {% block links %}  {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/logo.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/footer.css') }}">
    </head>
    <body>

        <div class = "notification">
            <div class = "added-to-cart-frame">
                <p class = "added-to-cart-text">Товар додано до кошику!</p>
            </div>
        </div>

        <header>

            <nav class="nav-header">
                <span class="links">
                    <a href="/shop">КАТАЛОГ</a>
                    <a href="/about">ПРО НАС</a>
                    <a href="/contacts">КОНТАКТИ</a>
                </span>

                <div class="logo">
                    <a href = "/">
                        <img src="{{ url_for('static', filename= 'icon/logo.svg') }}" alt="">
                    </a>
                </div>

                <span class="profile">
                        <a id="open-cart"> 
                        <div class="cart">
                            <div class="VAY"></div>
                        </div>
                    </a>
                    {% if current_user.is_authenticated %}
                        <p>{{ current_user.username }}</p>
                        <!--logout username-->
                        <a href = "/logout">Logout</a>
                        <!-- -->
                    {% else %}
                        <a href="/profile">
                            <div class="img-profile"></div>
                        </a>
                        
                    {% endif %}
                </span>
            </nav>
            {% block header %}
                
            {% endblock %}
            
        </header>

        <main>       
            {% block content %} {% endblock %}
        </main>

        <div id="cart-modal">
            <iframe id="cart-frame" src=""></iframe>
        </div>


        <footer>
            <div class="ellipse_footer"></div>
            <img class="footer_drones" src="{{ url_for('home.static', filename= 'icon/text_drones.png') }}">
            <div class="review">
                <div class="successful-shipments">
                    <h1>1K+</h1>
                    <div class="successful-shipments-text">
                        <p>Успішних відправок</p>
                    </div>
                </div>
            
                <div class="satisfied-clients">
                    <h1>1,5K+</h1>
                    <div class="satisfied-clients-text">
                        <p>Задоволених клієнтів</p>
                    </div>
                </div>
            
                <div class="clients-support">
                    <h1>24/7</h1>
                    <div class="clients-support-text">
                        <p>Підтримка клієнтів</p>
                    </div>
                </div>
            
            </div>
            <div class="navigation-footer">
                <p>КАТАЛОГ</p>
                <p>ПРО НАС</p>
                <p>КОНТАКТИ</p>
                <p>КОШИК</p>
                <p>КАБІНЕТ</p>
            </div>
            <hr class="line">
            <div class="copyright">
                <p>© 2025 Drones Всі права захищені.</p>
            </div>

        </footer>

        <script src="{{ url_for('static', filename= 'js/ModalWindow.js') }}"> </script>
        <script src="{{ url_for('shop.static', filename= 'js/addProductIdToCookies.js') }}" ></script>
        {% block scripts %}{% endblock %}
    </body>
</html>