<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('user.static', filename= 'css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static', filename= 'css/authorization.css') }}">
</head>
<body>
    <div class="modal_user">
        <div class="authorization">
            <div class = "titles">
                <a href = "/authorization" class="title-authorization">Авторизація /</a>
                <a href = "/registration" class="title-registration"> Реєстрація</a>
            </div>
            <button class="close-authorization" id="close-user">
                <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
            </button>
            <form action="" method="post">
                <div class="authorization-input">
                    <label>Email</label>
                    <input class="email" type="email" placeholder="Введіть email" name="email" required>
                    <label>Пароль</label>
                    <div class="password-field">
                        <button id = "eye" class = "eye" type="button"></button>
                        <input id = "pass" class="password" type="password" placeholder="Введіть пароль" name="password" required>
                    </div>
                    <a href = "/forgot-password" class="reset-password">Забули пароль?</a>
                </div>
                <div class="button-authorization">
                    <button class="cancel" id="close-user">СКАСУВАТИ</button>
                    <button class="log-in" type="submit">УВІЙТИ</button>
                </div> 
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename= 'js/eye.js') }}" ></script>
     <script src="{{ url_for('static', filename= 'js/ModalWindow.js') }}"> </script>
</body>
</html>

