<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/password_reset.css') }}">
</head>
<body>
    <div class="password_reset">
        <p class="titles">Відновлення пароля</p>
        <button class="close-password-reset"  id="close-user">
            <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
        </button>

        <div class = "write-email">
            <label class = "email"> Email </label> 
            <input class = "email" type="email" placeholder="Ввведіть Email" required> 
        </div> 

        <div class="button-password-reset">
            <button class="cancel">СКАСУВАТИ</button>
            <button class="send_an_email" type="submit">НАДІСЛАТИ ЛИСТ</button>
        </div>
    </div>


    <div class="new-password">
        <p class = "titles">Новий пароль</p>
        <button class="close-password-reset" id="close-registration">
            <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
        </button> 
        <div class = "write-password password-field">
            <label>Пароль</label>
            <input id = "pass" type="password" placeholder="Введіть пароль" name="Пароль" required>
            <button id = "eye" class = "eye" type="button"></button>
        </div>
        <div class = "confpass password-field">
            <label>Підтвердження пароля</label>
            <input id = "pass" type="password" placeholder="Повторіть пароль" name="Підтвердження пароля" required>
            <button id = "eye" class = "eye" type="button"></button>
        </div   
        <div class="button-password-reset-2">
            <button class="cancel">СКАСУВАТИ</button>
            <button class="save_password">ЗБЕРЕГТИ НОВИЙ ПАРОЛЬ</button>
        </div>
    </div>


    <div class="password_reset_final">
        <p class = "titles">Новий пароль</p>
        <button class="close-password-reset-final" id="close-registration">
            <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
        </button>
        
        <div class = "password-reset-complete-message">
            <p class = "password-reset-complete-1">Пароль успішно змінено! </p>
            <p class = "password-reset-complete-2">Тепер ви можете увійти з новим паролем.</p>
        </div>
        <div class="button-password-reset-final">
            <button class="save_password_final">УВІЙТИ</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename= 'js/ModalWindow.js') }}"> </script>
</body>
</html>