<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/password_reset.css') }}">
</head>
<body>
    {% if confirm_reset_password == False or confirm_reset_password is not none %}
        <div class="password_reset">
            <p class="titles">Відновлення пароля</p>
            <button class="close-password-reset"  id="close-user"> 
                <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
            </button>
        
            <form action="" method = "post">
            <div class = "write-email">
                <label class = "email"> Email </label> 
                <input class = "email" type="email" placeholder="Ввведіть Email" name = "email_pass" required> 
            </div> 
        
            <div class="button-password-reset">
                <button class="cancel">СКАСУВАТИ</button>
                <button  type="submit">НАДІСЛАТИ ЛИСТ</button> <!--class="send_an_email"-->
            </div>
            </form>
        </div>
    
    {% elif confirm_reset_password == True %}
        <div class="new-password">
            <p class = "titles">Новий пароль</p>
            <button class="close-password-reset" id="close-user">
                <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
            </button> 
            <div class = "write-password password-field">
                <form action="" method = "post">
                <label>Пароль</label>
                <button id = "eye" class = "eye" type="button"></button>
                <input id = "pass" type="password" placeholder="Введіть пароль" name="Пароль" required>
            </div>
            <div class = "confpass password-field">
                <label>Підтвердження пароля</label>
                <button id = "eye" class = "eye" type="button"></button> 
                <input id = "pass" type="password" placeholder="Повторіть пароль" name="Підтвердження пароля" required>
            </div>   
            <div class="button-password-reset-2">
                <button class="cancel">СКАСУВАТИ</button>
                <button class="save_password">ЗБЕРЕГТИ НОВИЙ ПАРОЛЬ</button>
            </form>
            </div>
        </div>
    {% endif %}

    <div class="password_reset_final">
        <p class = "titles">Новий пароль</p>
        <button class="close-password-reset-final" id="close-user">
            <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
        </button>
        
        <div class = "password-reset-complete-message">
            <p class = "password-reset-complete-1">Пароль успішно змінено! </p>
            <p class = "password-reset-complete-2">Тепер ви можете увійти з новим паролем.</p>
        </div>
        <div class="button-password-reset-final">
            <button class="save_password_final">УВІЙТИ</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename= 'js/ModalWindow.js') }}"> </script>
    <script src="{{ url_for('static', filename= 'js/eye.js') }}" ></script>
</body>
</html>