<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('user.static', filename= 'css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static', filename= 'css/registration.css') }}">
</head>
<body>
    <div class = "registration">
        {% if status == 'form' %}
        <form action="" method="post">
                <div class = "titles">
                    <a href = "/authorization" class="title-authorization2">Авторизація </a>
                    <a href = "/registration" class="title-registration2">/ Реєстрація</a>
                </div>

                <button class="close-registration" id="close-user">
                        <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
                </button>

                <div class = "write-name">
                    <label class = "name"> Ім'я </label> 
                    <input class = "username" placeholder="Введіть ім'я" name="username"> 
                </div> 

                <div class = "write-email">
                    <label class = "email"> Email </label> 
                    <input type="email"  class = "email" placeholder="Ввведіть Email" name="email"> 
                </div> 


                <div class = "write-password password-field">
                    <label class = "password"> Пароль </label> 
                    <button id = "eye" class = "eye" type="button"></button>
                    <input type = "password" id = "pass" class = "password" placeholder="Введіть пароль" name="password"> 
                </div> 

                <div class = "confpass password-field">
                    <label class = "conf-pass"> Підтвердження пароля </label> 
                    <button id = "eye" class = "eye" type="button"></button> 
                    <input type = "password" id = "pass" class = "conf-pass" placeholder="Повторіть пароль" name="confirm_password"> 
                </div> 
                
                <a href = "/authorization" class = "have-account"> Вже є аккаунт? Увійти </a>

                <div class = "button-registration">
                    <button class = "decline"> СКАСУВАТИ </button>
                    <button class = "register"> ЗАРЕЄСТРУВАТИСЯ </button>
                </div>
                
                <div class = "public-agreement">
                    <p class = "public-agreement-1">При вході або реєстрації, я підтверджую згоду</p>
                    <p class = "public-agreement-2">з умовами <a href="#">публічного договору</a></p>
                </div>
            </div>
        </form>
    </div>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    {% elif status == 'registration-success' %}
        <div class="registration-success">
            <p class="titles">Реєстрація</p>
            <button class="close-registration-complete" id="close-user">
                    <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
            </button>
            <div class="account-created">
                <p>Акаунт успішно створено!</p>
            </div>
            <button class="visit-website">ПЕРЕЙТИ НА САЙТ</button>
        </div>
    {% endif %}

     <script src="{{ url_for('static', filename= 'js/eye.js') }}" ></script>
     <script src="{{ url_for('static', filename= 'js/ModalWindow.js') }}"> </script>
</body>
</html>