<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('user.static', filename='css/login.css') }}">
</head>
<body>
    <div class="password_reset">
        <p class="titles">Відновлення пароля</p>
        <button class="close-password-reset" id="close-registration">
            <img src="{{ url_for('static', filename='/icon/cross.png') }}" alt="">
        </button>

        <div class = "write-email">
            <label class = "email"> Email </label> 
            <input class = "email" placeholder="Ввведіть Email" required> 
        </div> 

        <div class="button-password-reset">
            <button class="cancel">СКАСУВАТИ</button>
            <button class="send_an_email">НАДІСЛАТИ ЛИСТ</button>
        </div>
    </div>
</body>
</html>