@font-face {
    font-family: "font";
    src: url("../fonts/GTWalsheimPro-UltraBold.ttf");
}

@font-face {
    font-family: "button";
    src: url("../fonts/GTWalsheimPro-Bold.ttf");
}

@font-face {
    font-family: "fontforp";
    src: url("../fonts/GTWalsheimPro-Light.ttf");
}

@font-face {
    font-family: 'links';
    src: url("../fonts/GTWalsheimProSchoolbook-Medium2.ttf");
}

@font-face {
    font-family: 'review';
    src: url("../fonts/GTWalsheimPro-Regular.ttf");
}

@font-face {
    font-family: 'drones';
    src: url("../fonts/GTWalsheimPro-UltraLight.ttf");
}

button {
    cursor: pointer;
}

:root{
    --fontButton: 'button';
    --fontTitle: "font";
    --fontParagraph: "fontforp";
    --fontLinks: 'links';
    --fontReview: 'review';
    --fontDrones: 'drones';
}

.title_order {
    position: absolute;
    font-size: 3vh;
    font-family: var(--fontParagraph);
    letter-spacing: 0.03vw;
    font-weight: 400;
    top: 20vh;
    left: 5.3vw;
}

.order hr {
    position: relative;
    width: 43vw;
    top: 28.5vh;
    right: 23vw;
    border: 0.001vw solid #CDD5DD;
}

.order .hr2 {
    position: relative;
    width: 43vw;
    top: 37vh;
    right: 23vw;
    border: 0.001vw solid #CDD5DD;
}

.title_order2 {
    position: absolute;
    font-size: 2.5vh;
    font-family: var(--fontParagraph);
    letter-spacing: 0.03vw;
    font-weight: 400;
    top: 31vh;
    left: 5.5vw;
}

form{
    position: relative;
    top: 37vh;
    right: 23vw;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: left;
}

label{
    font-size: 1.8vh;
    margin-bottom: 0.8vh;
    font-family: var(--fontParagraph);
}

input {
    font-size: 1.8vh;
    padding: 1.3vh;
    margin-bottom: 3vh;
    width: 43vw;
    border-radius: 0.3vw;
    border: 0.1vw solid #CED0D4;
    color: #9EA0AA;
    font-family: var(--fontReview);
}

textarea {
    font-size: 1.8vh;
    padding: 1.3vh;
    margin-bottom: 3vh;
    width: 80%;
    height: 12vh;
    border-radius: 0.3vw;
    border: 0.1vw solid #CED0D4;
    color: #9EA0AA;
    font-family: var(--fontParagraph);
    resize: none;
}

