.nav-header .profile, .nav-header .VAY {
    visibility: hidden !important;
}



main {
    background-color: #CDD5DD;
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #CDD5DD;
    min-height: 100vh;
}

.order h2{
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
    margin-bottom: 2.5vh;
    color: #FFFFFF;
    font-family: 'button';

}

.order p{
    font-size: 2.2vh;
    margin: 0.46vh 0;
    line-height: 2;
    color: #3D4155;
    font-family: 'review';
}

.main-page {
    display: flex;
    margin-top: 3.5vh;
    background-color: #0C122A;
    color: #FFFFFF;
    border: none;
    padding: 2.5vh 2.75vw;
    border-radius: 2vw;
    text-transform: uppercase;
    font-size: 2vh;
    font-family: 'button';
}

.ellipse_footer{
    visibility: hidden;
    display: none;
}

.review, .navigation-footer{
    visibility: hidden;
    position: absolute;
    display: none !important;
}

.footer_drones {
    background-image: url("../icon/Subtract.svg") !important;
    width: 25vw !important;
    height: 9vh !important;
    background-size: contain !important; 
    background-repeat: no-repeat !important;
    background-position: center !important; 
    bottom: 15vh !important;
}

footer {
    height:35vh !important;
}

.line, .copyright {
    margin-bottom: 1vh !important;
}


@font-face {
    font-family: 'review';
    src: url("../fonts/GTWalsheimPro-Regular.ttf");
}

@font-face {
    font-family: "button";
    src: url("../fonts/GTWalsheimPro-Bold.ttf");
}