{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('order.static', filename = 'css/order.css') }}"> 
{% endblock %}

{% block content %}
    <div class="order">
            <h2>Ваші контактні дані</h2>
        <form action="" method="post">
            <input type="text" placeholder="Ваше Прізвище" name="Прізвище">
            <input type="text" placeholder="Ваше Ім’я" name="Ім’я">
            <input type="text" placeholder="По батькові" name="По батькові">
            <input type="text" placeholder="Ваше Прізвище" name="Прізвище">
            <input type="text" placeholder="Ваш E-mail" name="E-mail">
            <input type="email" placeholder="Що б ви хотіли уточнити" name="Коментар до замовлення">
        </form>
    </div>
    <div class="dostavka">
        <input type="radiobox" mame = "Нова Пошта до відділення">
        <input type="text" mame = "Місто">
        <p>Вінниця  Одеса  Харків  Дніпро  Київ  Львів</p>
        <input type="text" mame = "Місто">
    </div>
    <div class="dostavka2">
        <input type="radiobox" mame = "Експрес-доставка по Києву">
        <input type="radiobox" mame = "Нова Пошта кур’єром">
    </div>
    <div class="pay">
        <h2>Оплата</h2>
        <input type="radiobox" mame = "Оплата при отриманні">
    </div>
    <div class="pay2">
        <input type="radiobox" mame = "Оплатити зараз">
        <input type="radiobox" mame = "Карткою онлайн">
        <input type="radiobox" mame = "Privat Pay">
        <input type="radiobox" mame = "Apple Pay">
        <input type="radiobox" mame = "Google pay">
        <a href="/"><button class="to_return" type = "button">Повернутись</button></a>
    </div>
{% endblock %}