{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('products.static', filename = 'css/products.css') }}"> 
{% endblock %}

{% block header %}
    <div class="ellipse"></div>
    <div class = "main-thermal">
        <h1>ТЕПЛОВІЗОР PULSAR</h1>
        <h1>TELOS LRF XQ35</h1>
        <div class = "main-thermal-description">
            <p>Pulsar Telos LRF XQ35 – тепловізійний монокуляр з лазерним далекоміром. Перед</p>
            <p>вами наймолодший представник інноваційної лінійки продуктів від світового</p>
            <p>гіганта індустрії Yukon Advanced Optics Worldwide із заявленою дальністю</p>
            <p>виявлення в 1300 метрів.</p>
        </div>
        <img class="main-thermal-image" src="{{ url_for('products.static', filename= 'images/main-thermal.png') }}" alt="">
    </div>

    <div class="main-thermal-order">
        <div class = "main-thermal-order-description">
            <img class="small-main-thermal-image" src="{{ url_for('products.static', filename= 'images/main-thermal.png') }}" alt="">
            <div class = "small-main-thermal-description">
                <div class = "title-mini-thermal">
                    <h5>PULSAR TELOS LRF</h5>
                    <h5>XQ35</h5>
                </div>
                <div class = "small-thermal-price">
                    <span class="price">29 900 ₴</span>
                    <span class="discount">29 900 ₴</span>
                </div>
            </div>
        </div>
        <div class = "main-thermal-order-buttons">
            <button class =  "cart-buy-thermal" id = "2">
                <img class = "img-cart-thermal" src="{{ url_for('shop.static', filename='images/icon/cart-img.svg') }}" alt="КОРЗИНА">
            </button>
            <a href="/orders"> <button class="main-thermal-order-button">ЗАМОВИТИ
                <img class="arrow" src="{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}" alt="">
            </button></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class = "camera-thermal-description">
        <h2>МАЙБУТНЄ</h2>
        <h2>ГОТОВЕ. МОДЕРНІЗОВАНА</h2>
        <h2>ПРОДУКТИВНІСТЬ</h2>
        <div class="camera-thermal-description-text">
            <div class="camera-thermal-description1">
                <p>Бездоганна якість термографічної картинки дозволить точно ідентифікувати ціль, а </p>
                <p>лазерний далекомір допоможе дізнатися точну відстань до неї. Під капотом традиційний </p>
                <p>набір мультимедійних опцій по запису відео, високошвидкісний модуль Wi-Fi, великий </p>
                <p>набір колірних палітр, режим PIP і багато іншого.</p>
            </div>
            <div class="camera-thermal-description2">
                <p>Завдяки оновленій концепції корпусу, управляти приладом однаково зручно як правшам,</p>
                <p>так і лівшам. Велика батарея контейнерного типу забезпечить до 8,5 годин автономної</p>
                <p>роботи. Pulsar Telos LRF XQ35 відгуки власників має тільки позитивні.</p>
            </div>
            <div class="camera-thermal-description3">
                <p>Монокуляр повністю герметичний і готовий до роботи в найскладніших умовах</p>
                <p>експлуатації. Дану модель можна сміливо використовувати в якості військового</p>
                <p>тепловізора.</p>
            </div>
        </div>
        <img class="camera-thermal-image" src="{{ url_for('products.static', filename= 'images/thermal-video.png') }}" alt="">
    </div>

    <div class = "device-description">
        <img class="thermal-device-image" src="{{ url_for('products.static', filename= 'images/camera-thermal.png') }}" alt="">
        <h2>ОНОВЛЕНИЙ ПРИСТРІЙ</h2>
        <div class="device-description-text">
            <div class="device-description1">
                <p>Компоненти та програмні рішення у високотехнологічних галузях з кожним роком </p>
                <p>удосконалюються. Теплобачення не є винятком. Згодом вибір та переваги</p>
                <p>користувачів змінюються. Крім того, з досвідом у користувачів виробилися власні </p>
                <p>вимоги до можливостей та роботи пристрою. Тепловізійні монокуляри Telos створені</p>
                <p>з урахуванням технологій та потреб користувачів. </p>
            </div>
            <div class="device-description2">
                <p>Телос - перша лінійка тепловізійних приладів на ринку з можливістю технічного</p>
                <p>оновлення за бажанням клієнта. Стати власником Телоса та отримайте можливість</p>
                <p>гнучко та вигідно покращувати його на довгі роки. Оснастіть його потужною</p>
                <p>оптикою, сенсором і дисплеєм з більш високою роздільною здатністю, більш</p>
                <p>ефективною та функціональною електронікою.</p>
            </div>
        </div>
    </div>

    <div class = "brightness-description">
        <img class="brightness-image" src="{{ url_for('products.static', filename= 'images/wolf.png') }}" alt="">
        <h2>УДОСКОНАЛЕНА ТЕХНОЛОГІЯ</h2>
        <h2>ПІДВИЩЕННЯ ЯКОСТІ</h2>
        <h2>ЗОБРАЖЕННЯ PULSAR</h2>
        <div class="brightness-description-text">
            <div class="brightness-description1">
                <p>Pulsar Image Boost забезпечує тепловізору Telos найвищий рівень деталізації,</p>
                <p>чіткості та контрастності завдяки набору оригінальних алгоритмів обробки</p>
                <p>зображень. Тепловізійні монокуляри Telos візуалізують складні сцени у широкому</p>
                <p>діапазоні напівтонів з рівномірним виділенням малоконтрастних об'єктів, таких як</p>
                <p>небо, трава та водні поверхні.</p>
            </div>
            <div class="brightness-description2">
                <p>Програмна деталізація та різкість об'єктів на різних відстанях робить теплове</p> 
                <p>зображення високоінформативним.</p> 
            </div>
        </div>
    </div>

    <div class = "scale-description">
        <h2>РЕГУЛЯТОР МАСШТАБУВАННЯ</h2>
        <h2>КІЛЬЦЯ ОБ'ЄКТИВА</h2>
        <div class="scale-description-text">
            <p>Ідеально налаштувати зображення в Телос можна однією рукою - кільця фокусування і</p>
            <p>плавного зуму розташовані на об'єктиві в класичній компонуванні, одне за одним, як в</p>
            <p>об'єктивах професійних фотоапаратів. Послідовне розташування кілець дозволяє швидко</p>
            <p>та з мінімальними зусиллями отримати чітке зображення з необхідним збільшенням.</p>
        </div>
        <div class="scale-information">
            <div class="laser">
                <div class = "meters">
                    <h4>до <span class = "gray"> 1000 </span> м</h4>
                </div>
                <div class = "laser-description">
                    <p>Точний лазер із</p>
                    <p>дальністю дії</p>
                </div>
            </div>
            <div class="temperature">
                <div class = "temp">
                    <h4>від <span class = "gray"> -25 </span> до <span class="gray">+40</span> °C</h4>
                </div>
                <p>Діапазон температур</p>
            </div>
            <div class="time">
                <span class = "gray">LPS 71</span>
                <div class="scale-time-description">
                    <p>eMMC понад 8</p>
                    <p>годин роботи</p>
                </div>
            </div>
        </div>
        <img class="scale-drone-image" src="{{ url_for('products.static', filename= 'images/scale.png') }}" alt="">
    </div>

    <div class="menu_drones"> 
        <h1>СХОЖІ ТОВАРИ</h1>
            <div class = 'products' id="products">
            {% if list_product %}
                {% for product in list_product %}
                    <div class = 'product-card' id = "product-{{product.id}}"> 
                        <img class="product-image" src="{{ url_for('shop.static', filename= 'images/products/' + product.product_name + '.png') }}" alt="{{product.product_name}}" >
                        <h2 class = 'product-name'>{{product.product_name}}</h2>

                        {% if product.discount != None %}
                        <div>
                            <span class = 'product_sale'>{{product.price}} ₴</span>
                            <span class = 'product_discount'>{{product.discount}} ₴</span>
                        </div>
                        {% else %}
                            <span class = 'product-price'>{{product.price}} ₴</span>
                        {% endif %}
                        <button class =  "cart-buy" id="{{product.id}}">
                            <img class = "img-cart" src="{{ url_for('shop.static', filename='images/icon/cart-img.svg') }}" alt="КОРЗИНА">
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <button class="button_catalog_drones"><a href="/shop">ДИВИТИСЬ ВСІ</a><img class="arrow" src="{{ url_for('home.static', filename= 'icon/arrow_white.svg') }}"></button>
    </div>
{% endblock %}