
/* Илья, я знаю что ты запустился в катку запустился. */

@font-face {
    font-family: "fontforp";
    src: url("/static/fonts/GTWalsheimPro-Light.ttf");
}


:root{
    --fontParagraph: "fontforp";
}


.cart-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modal-cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    overflow-y: auto;
    font-family: var(--fontParagraph);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    position: sticky;
    top: 0;
    background: white;
    padding-bottom: 1vh;
    z-index: 10;
}

.modal-header h2 {
    font-size: 4vh;
    font-weight: 700;
    margin: 0;
}

.close-cart img {
    width: 2.5vh;
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding-bottom: 2vh;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.product-img {
    width: 12vw;
    height: auto;
    background: #F4F4F4;
    border-radius: 1vh;
    padding: 1vh;
}

.text-block h3 {
    margin: 0 0 1vh 0;
    font-size: 3vh;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.old-price {
    text-decoration: line-through;
    color: #A6A6A6;
}

.new-price {
    color: #B62D11;
    font-weight: 700;
    font-size: 2.7vh;
}

.edit-block {
    display: flex;
    align-items: center;
    gap: 1.5vh;
}

.round-btn {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 0.2vw solid #E7E7EA;
    background: #fff;
    font-size: 2.5vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount {
    font-size: 2.7vh;
    font-weight: 600;
}

.trash-btn img {
    width: 3vh;
    cursor: pointer;
}

.separator {
    height: 1px;
    background: #E0E0E0;
    border: none;
    margin: 2vh 0;
}

.summary {
    display: flex;
    justify-content: space-between;
    font-size: 2.4vh;
    font-weight: 600;
}

.summary .discount {
    color: #B62D11;
    font-size: 3vh;
}

.buttons-cart {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.move-to-bin, .make-an-order {
    width: 100%;
    height: 6vh;
    border-radius: 5vh;
    font-size: 2.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-to-bin {
    background: #fff;
    border: 0.2vw solid #0C122A;
    color: #0C122A;
    font-weight: 600;
}

.make-an-order {
    background: #0C122A;
    color: #fff;
    font-weight: 500;
    border: none;
}

.arrow {
    width: 1.3vh;
    margin-left: 1vw;
}


/*

Тир лист CSS-свойств by Подмастерье CSS или Иван

S - position, left, right, bottom, top, display, width, heigth, color

A - font-size, font-family, margin, gap, padding 

B - border-radius, border,

D - 

F - 

*/ 