/*слегонца да не работает*/


@font-face {
    font-family: "fontforp";
    src: url("/static/fonts/GTWalsheimPro-Light.ttf");
}


:root{
    --fontParagraph: "fontforp";
}



.cart-title{
    margin-right: 80vw;
    top: 8vh;
    margin-top: 5vh;
    font-family: var(--fontParagraph);
    font-weight:bold;
    
}

.cross{
    position:relative;
    width: 1.75vh;
    height: 1.75vh;
    margin-left: 80vh;
    bottom: 10vh;
}

.drone-img-cart{
    width: 10vw;
    height: 20vh;
    background-color: #F4F4F4;
    padding: 3vh;
}

.name-of-drone{
    font-family: var(--fontParagraph);
}

.price{
    position: relative;
    bottom: 4vh;
    font-family: var(--fontParagraph);
    font-size: 3vh;
    font-weight: bold;
}

.amount{
    font-family:var(--fontParagraph);
    font-size: 2.5vh;
}

.trash-can-button{
    position:relative;
    left: 60vh;
    bottom: 40vh;
    background-color: transparent;
    border: none;

}

.plus-button{
    position:relative;
    left:50vh;
    bottom: 40vh;
}
.minus-button{
    position:relative;
    left:50vh;
    bottom:40vh;
}

#mark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh; 
    height: 5vh;
    padding: 0vh;
    font-size: 3vh; 
    background-color: #ffffff;
    border: 0.15vw solid #E7E7EA; /*display-flex : */
    border-radius: 50%;
    margin: 1vh; 
    font-family: var(--fontParagraph);
}

.order-sum{
    font-family: var(--fontParagraph);
    font-weight: bold;
    font-size: 3vh;
}

.order-sum-result{
    font-family: var(--fontParagraph);
    font-weight: bold;
    font-size: 2.5vh;
}

.price-with-discount{
    color: #B62D11;
    font-size: 3.5vh;
} 

.cart-page{
    width: 40vw;
    height: 40vw;
}










.modal-epmty{
    position: fixed;
    width: 100;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: sans-serif;
}

.empty-catalog{
    border-radius: 8px;
    width: 90%;
    max-width: 450px;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.empty-catalog::before{
    display: block;
    width: calc(100% + 40p);
    height: 1px;
    margin: 0 -20px 0 -20px;
    order: 1;
}

.empty-catalog::after{
    display: block;
    width: calc(100% + 40px);
    height: 1px;
    margin: 30 -20px 0 -20px;
    order: 4;
}

.continue-shopping{
    padding: 10px 20px;
    color: #333;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: flex-end; 
    margin-top: 20px;
    order: 5;
}

/*

Тир лист CSS-свойств by Подмастерье CSS

S - 

A - 

B - 

D - 

F - 

*/