@font-face {
    font-family: "fontforp";
    src: url("/static/fonts/GTWalsheimPro-Light.ttf");
}

:root{
    --fontParagraph: "fontforp";
    --fontReview: 'review';
}

@font-face {
    font-family: 'review';
    src: url("/static/fonts/GTWalsheimPro-Regular.ttf");
}

button{
    font-family:'review'; 
}
button:hover{ 
    cursor: pointer;
}

.cart-page {
    font-family: var(--fontParagraph);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modal-cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    position: sticky;
    top: 0;
    background: white;
    padding-bottom: 1vh;
    z-index: 10;
    padding: 2vw;
}

.modal-header h2 {
    font-size: 5vh;
    font-weight: bolder;
    margin: 0;
}

.close-cart img {
    width: 2vw;
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    padding-bottom: 2vh;
    padding: 2vw;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.product-img {
    width: 12vw;
    height: auto;
    background: #F4F4F4;
    border-radius: 1vh;
    padding: 1vh;
}

.text-block h3 {
    margin: 0 0 1vh 0;
    font-weight: bold;
    font-size: 3.75vh;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-family: var(--fontParagraph);
}

.current-price {
    color: #000000;
    font-size: 2.7vh;
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
    color: #000000;
}

.new-price {
    color: #B62D11;
    font-weight: 700;
    font-size: 2.7vh;
}

.edit-block {
    display: flex;
    align-items: center;
    gap: 2.8vh;
}

.minus, .plus {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    border: 0.2vw solid #E7E7EA;
    background: #fff;
    font-size: 2.75vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#amount {
    font-size: 3.2vh;
    font-weight: 600;
    
}

.trash-btn img {
    width: 3vh;
    cursor: pointer;
}

.separator {
    height: 1px;
    background: #E0E0E0;
    border: none;
    margin: 2vh 0;
}

.cart-footer {
    margin-bottom: 0vh; 
    padding: 0 2vw;
}

.summary {
    display: flex;
    justify-content: space-between;
    font-size: 2.4vh;
    font-weight: 600;
    padding:0;
}

.summary .left p {
    color: #000;
}

.summary .right {
    margin-top: 0.5vh;
    text-align: right;
}

.summary .right .old-price {
    color: #000;
    text-decoration: line-through;
    font-weight: 600;
    font-size: 2.8vh;
}

.summary .right .saved {
    color: #8E8E8E;
    font-weight: 600;
    font-size: 2.8vh;
}

.summary .right .discount {
    color: #B62D11;
    font-size: 3vh;
    font-weight: 800;
    font-size: 3vh;
}

.left{
    font-weight: 500; 
    font-size: 3vh;
    font-family: var(--fontReview);
}

.summary .discount {
    color: #B62D11;
    font-size: 3vh;
}

.buttons-cart {
    margin-top: 2vh;
    margin-left: 23.5vw;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.move-to-bin, .make-an-order {
    font-family: var(--fontReview);
    font-weight: 900;
    width: 100%;
    height: 6vh;
    border-radius: 5vh;
    font-size: 2.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-to-bin {
    width: 30vw;
    background: #fff;
    border: 0.2vw solid #0C122A;
    color: #0C122A;
}

.make-an-order {
    width: 40vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}

.arrow {
    width: 1.8vh;
    margin-left: 3vw;
}

.trash-btn{
    background-color: transparent;
    border: none;
}

.close-cart{ 
    background-color: transparent;
    border: none;
}

.drone-name{/* а если хочу? */
    position: relative;
    bottom: 3vh;
    
}

.price-row{
    font-family: var(--fontParagraph);
    position:relative;
    top: 3vh;
}

.new-price{
    position:relative;
    left: 2vh;
}

.product-img{
    width: 14.5vh;
    height: 13vh;
}

.cart-item .summary{
    padding: 2vh;
}

.continue_shopping{
    font-family: var(--fontParagraph);
    font-weight: bold;
    width: 35vw;
    height: 9.5vh;
    border-radius: 5vh;
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0.5vh solid #0C122A;
    color: #0C122A;
    flex-direction: row; 
    margin-left: 60vw;
    margin-top: 3.5vh;
}


.empty-cart {
    margin-bottom: 0;
    margin-top: 22vh;
    text-align: center;
    color:#6D717F;
    font-weight: bold;
    font-family: var(--fontParagraph);
    font-size: 5vh;
}

.start-to-buy{
    margin-top: 0;
    margin-bottom: 22vh;
    text-align: center;
    color:#6D717F;
    font-weight: bold;
    font-family: var(--fontParagraph);
    font-size: 5vh;
}

