@font-face {
    font-family: 'review';
    src: url("/static/fonts/GTWalsheimPro-Regular.ttf");
}

@font-face {
    font-family: "fontforp";
    src: url("/static/fonts/GTWalsheimPro-Light.ttf");
}

:root{
    --fontParagraph: "fontforp";
    --fontReview: 'review';
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fontReview);
}


.modal_user {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 6vw;
}

.titles {
    display: flex;
}

.title-registration {
    color: grey;
    font-weight: 500;
    text-decoration: none;
}

.title-authorization {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.title-authorization2 {
    color: grey;
    font-weight: 500;
    text-decoration: none;
}

.title-registration2 {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.authorization,
.registration {
    width: 100%;
    height: 100%;
}

.authorization-input,
.write-name,
.write-email,
.write-password,
.confpass {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border-radius: 0.7vw;
    border: 0.4vw solid #CED0D4;
    color: #333;
    font-family: var(--fontReview);
}

.reset-password,
.have-account {
    color: #9EA0AA;
    text-decoration: underline;
    cursor: pointer;
}

.reset-password:hover,
.have-account:hover {
    color: #0C122A;
}

.button-authorization,
.button-registration {
    display: flex;
}

button {
    font-family: var(--fontReview);
    font-weight: 500;
    cursor: pointer;
}

.cancel,
.decline {
    background: #fff;
    border: 0.5vh solid #0C122A;
    color: #0C122A;
}

.log-in,
.register {
    background: #0C122A;
    border: none;
    color: #fff;
}

.close-registration,
.close-registration-complete,
.close-authorization,
.close-password-reset-final {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close-registration img,
.close-registration-complete img,
.close-authorization img,
.close-password-reset img,
.close-password-reset-final img {
    width: 2.75vw;
    height: 2.75vw;
}

.password-field {
    position: relative;
    width: 100%;
}

.password-field input {
    width: 100%;
}

.eye {
    position: absolute;
    right: 3vw;
    top: 4vh; 
    width: 3.5vw;
    height: 3.5vw;

    background-image: url("/static/icon/eye_off.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.password_reset_final .titles {
    font-family: var(--fontReview);
    font-weight: 500;
    color: black;
}