.new-password, .password_reset_final {
    display: none;
}

.password_reset label,
.password_reset_2 label {
    font-size: 4.9vh;
    margin-bottom: 1.7vh;
    font-family: var(--fontReview);
}

.password_reset input,
.password_reset_2 input {
    font-size: 4vh;
    padding: 2.75vw;
    margin-bottom: 5vh;
    width: 100%;
    border-radius: 0.625rem;
    border: 0.125rem solid #CED0D4;
    font-family: var(--fontReview);
}

.button-password-reset,
.button-password-reset-2,
.button-password-reset-final {
    display: flex;
    margin-top: 10vh;
    gap: 2.5vw;
}

button {
    height: 12vh;
    border-radius: 10vw;
    font-size: 5vh;
}