.new-password, .password_reset_final {
    display: none;
}

.password_reset {
    padding: 3vw;
}

.password_reset .titles {
    font-size: 9vh;
    margin: 0;
    font-weight: 500;
    padding: 2vh;
}

.close-password-reset {
    position: absolute;
    top: 3vh;
    right: 4vw;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* 🤣🤣🤣 */

.write-email {
    margin-top: 10vh;
}

label {
    margin-left: 1.5vw;
    font-size: 5.8vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: var(--fontReview);
}

input {
    font-size: 5.8vh;
    margin-left: 1.5vw;
    padding: 2.75vw;
    margin-bottom: 12vh;
    width: 94%;
    border-radius: 0.7vw;
    border: 0.3vw solid #CED0D4;
    color: #333;
    font-family: var(--fontReview);
} 

.button-password-reset, 
.button-password-reset-2,
.button-password-reset-final {
    display: flex;
    margin-top: 5vh;
    gap: 2.5vw;
    margin-left: 1.5vw;
    
}

button, .send_an_email, .save_password{
    height: 16vh;
    border-radius: 15vw;
    font-size: 6vh;
    font-weight: 500;
}

.button-password-reset-2 .cancel, .button-password-reset-2 .save_password {
    height: 12vh; 
    font-size: 4.6vh;
    border: 0.4vw solid #0C122A;
    margin-left: 2.5vw;
    margin-top: 6vh;
    padding: 0 3.5vw;
}

.button-password-reset .cancel,
.button-password-reset-2 .cancel {
    padding: 0 5vw;
    border: 0.4vw solid #0C122A;
    letter-spacing: 0.1vw;
}

.button-password-reset .send_an_email {
    padding: 0 5vw;
    letter-spacing: 0.1vw;
}

.new-password .titles {
    font-size: 6.5vh;
    margin: 0;
    font-weight: 500;
    padding: 6.5vh;
    margin-bottom: 2vh;
}

.password_reset_final .titles {
    font-size: 4.75vw;
    margin-left: 6vw;
    margin-bottom: 8vw;
}

.new-password label {
    margin-left: 4.5vw;
    font-size: 4vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.new-password input {
    font-size: 4vh;
    margin-left: 4.5vw;
    padding: 2.75vw;
    margin-bottom: 2vh;
    width: 90%;
} 

.new-password .password-field .eye {
    top: 13.5vh;
    right: 10vw;
}

.send_an_email,
.save_password,
.save_password_final {
    font-family: var(--fontReview);
    font-weight: 500;
    background: #0C122A;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.save_password_final {
    margin-top: 10vw;
    height: 9vw;
    font-size: 3.2vw;
    padding: 0 5vw;
    margin-left: 3vw;
}

.password-reset-complete-message p {
    font-size: 3.4vw;
    margin-left: 4.75vw;
    color: #9EA0AA;
    font-family: var(--fontReview);
    margin-bottom: -3vw;
} 

