.new-password, .password_reset_final {
    display: none;
}

.password_reset {
    padding: 4.5vw;
}

.password_reset .titles {
    font-size: 6vh;
    margin: 0;
    font-weight: 500;
    padding: 2vh;
}

.close-password-reset {
    position: absolute;
    top: 3vh;
    right: 4vw;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* 🤣🤣🤣 */ 

.write-email {
    margin-top: 10vh;
}

.password_reset label,
.password_reset_2 label {
    font-size: 4.5vh;
    margin-top: 7vh;
    margin-bottom: 1.7vh;
    font-family: var(--fontReview);
}

.password_reset input,
.password_reset_2 input {
    font-size: 4.9vh;
    padding: 2.75vw;
    margin-bottom: 5vh;
    width: 100%;
    border-radius: 0.7vw;
    border: 0.3vw solid #CED0D4;
    color: #333;
    font-family: var(--fontReview);
} 

.button-password-reset, 
.button-password-reset-2,
.button-password-reset-final {
    display: flex;
    margin-top: 15vh;
    gap: 2.5vw;
    
}

button, .send_an_email{
    height: 12vh;
    border-radius: 15vw;
    font-size: 5vh;
}

.cancel {
    padding: 0 3.5vw;
}

.send_an_email {
    padding: 0 3.5vw;
}