.titles {
    font-size: 10vw;
    margin: 0;
    font-weight: 500;
    padding: 2vw;
    margin-left: 3vw;
    margin-top: 3vw;
}

label {
    font-size: 2.5vh;
    margin-bottom: 1.7vh;
}

input {
    font-size: 2.8vh;
    padding: 2vh;
    margin-bottom: 3vh;
    border-radius: 1vw;
}

.registration-input .password-field .eye,
.registration .password-field .eye {
    top: 7.3vh;
    width: 4vw;
    height: 4vw;
}

.close-registration img {
    margin-bottom: 20vh;
}

.have-account {
    font-size: 2.7vh;
}

.button-registration {
    margin-top: 4.5vh;
    gap: 2vw;
}

button {
    height: 7vh;
    border-radius: 10vw;
    font-size: 2.75vh;
}

.cancel,
.decline {
    padding: 0 4vw;
    border: 0.5vh solid #0C122A;
    margin-bottom: 3vh;
}

.register {
    padding: 0 4.5vw;
}

.public-agreement p {
    font-size: 2.5vh;
    color: #9EA0AA;
    margin-top: 0.5vh;
}

.public-agreement a {
    color: #B62D11;
    text-decoration: none;
}

.registration-success{
    position:relative;
    background-color: #ffffff;
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.registration-complete .titles {
    font-family: var(--fontReview);
    font-weight: 500;
    color: black;
}

.visit-website {
    display: flex;
    position: absolute;
    font-family: var(--fontReview);
    font-weight: 500;
    background: #0C122A;
    color: #fff;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 18vh;
    padding: 0 4vw;
    font-size: 7vh;
    margin-left: 4vw;
    bottom: -70vh;
}

.account-created {
    display: flex;
    position: absolute;
    font-family: var(--fontReview);
    font-size: 7vh;
    color: #9EA0AA;
    bottom: -35vh;
    margin-left: 4.8vw;

}