{% extends 'base.html' %} 

{% block title %}
    Shop
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('shop.static', filename= 'css/shop.css') }}">
{% endblock %}


{% block content %}
    <h1 class="catalog">КАТАЛОГ</h1>
    <!-- Якщо користувач є адміном то він може додавати новий продукт до БД -->
    {% if current_user.is_admin %}
        <div>
            <!-- форма створення нового товару -->
            <form action="/shop?type=add" method="post" enctype="multipart/form-data">
                <input type="text" name="product_name" placeholder="">
                <input type="number" name="price" placeholder="">
                <input type="number" name="discount" placeholder="">
                <input type="number" name="count" placeholder="">

                <textarea name="description" id="" placeholder=""></textarea>
                <input type="file" name="image" accept="image/*">

                <button type="submit">SEND</button>
            </form>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    {% endif %}
    <!-- Фільтрування по типу продукта -->
    <!-- <form action="/shop?type=filter" method="post">
        <select name="type_product" id="">
            <option value="all">Всі</option>
            {% for type in list_types %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <button type="submit">Фільтрувати</button>
    </form>     -->

    
    <!-- <select name="type_product" id="select">
        <option value="all">Всі</option>
        {% for type in list_types %}
            <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select> 
    <button id="filter" type="button">Фільтрувати</button>-->
    <!-- Відображення продукту і його зображення  -->


    <div class = "sorting">
        <button class = "all-select" data-type="all">Всі</button>
        <button class = "drones-select" data-type="drone">
            <div class = "image-select">
                <img src="{{ url_for('shop.static', filename='images/icon/drone-select-icon.png') }}" alt="Дрон">
            </div>
        </button>
        <button class = "thermalImager-select" data-type="thermal imager">
            <div class = "image-select">
                <img src="{{ url_for('shop.static', filename='images/icon/thermal-select-icon.png') }}" alt="Тепловізор">
            </div>
        </button>
    </div>

    <!-- ТУТ ПИШЕТ МАСТЕР ЦСС, или же просто Иван -->
    <div class = 'products' id="products">
        {% if list_product %}
            {% for product in list_product %}
            <!--  <div id="product-1">  -->
                <div class = 'product-card' id = "product-{{product.id}}"> 
                    <img class="product-image" src="{{ url_for('shop.static', filename= 'images/products/' + product.product_name + '.png') }}" alt="{{product.product_name}}" >
                    <p class = 'product_name'>{{product.product_name}}</p>
                    
                    {% if product.discount != None %}
                    <div>
                        <span class = 'product_sale'>{{product.price}} ₴</span>
                        <span class = 'product_discount'>{{product.discount}} ₴</span>
                    </div>
                    {% else %}
                        <p class = 'product_price'>{{product.price}} ₴</p>
                    {% endif %}
                    <button class =  "cart-buy" id="{{product.id}}">
                        <img class = "img-cart" src="{{ url_for('shop.static', filename='images/icon/cart-img.svg') }}" alt="КОРЗИНА">
                    </button>
                    <!-- <p>Кількість продукту: {{product.count}}</p> -->
                    <!-- <p>Опис продукту: {{product.description}}</p>  -->
                    
                    <!-- <a href="/buy?id={{product.id}}">BUY</a> -->
                    <!-- <button type="button" class="buy" id="{{product.id}}">Купити</button>-->
    
                    {% if current_user.is_admin %}  
                        <!-- <a href="/delete_product?id={{product.id}}">DELETE</a> -->
                        <button type="button" id="delete" value="{{product.id}}">Видалити</button>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class = "pages">
        <button class = "page-return">
            <img src="{{ url_for('shop.static', filename='images/icon/return.png') }}"> 
        </button>
        <button class = "page-number" id = "first"> 
            1
        </button>
        <button class = "page-number"> 
            2
        </button>
        <button class = "page-number">
            3
        </button>
        <button class = "page-number">
            4
        </button>
        <button class = "page-number">
            5
        </button>
        <button class = "page-number">
            6
        </button>
        <button class = "page-number">
            7
        </button>
        <button class = "page-next">
            <img src="{{ url_for('shop.static', filename='images/icon/next.png') }}">
        </button>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('shop.static', filename= 'js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('shop.static', filename= 'js/addProductIdToCookies.js') }}" ></script> 
    <script src="{{ url_for('shop.static', filename= 'js/filter.js') }}"></script>
    <script src="{{ url_for('shop.static', filename= 'js/deleteProduct.js') }}"></script>
{% endblock %}
