*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    /* головна вісь */
    flex-direction: column;
    /* позиціонування по головній вісі */
    justify-content: start;
    /* позиціонування по другорядній вісі */
    align-items: center;
    background-color: #FFFFFF;
}

#cart-modal {
    display: none;
}

#cart-modal.active {
    display: block;
}

#cart-modal iframe {
    position: fixed;
    right: 7vw;
    top: 15vh;
    width: 40vw;
    height: 80vh;
    background: #ffffff;
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1000;
}

#cart-modal.empty iframe {
    font-size: 2.5vh;
    height: 55vh;
}

/* если корзина с товарами */
#cart-modal.filled iframe {
    height: 80vh;
}

#cart-modal iframe {
    scrollbar-width: thin;
    scrollbar-color: #565656 #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar {
    width: 8px;
}

#cart-modal iframe::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 4px;
}

#cart-modal iframe::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

/* authorization */

.authorization {
    position:relative;
    width: 30.5vw;
    height: 43vh;
    background-color: #ffffff;
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.titles{
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
    font-size: 2.5vh;
}

.title-registration{
    color:grey;
    font-family: var(--fontReview);
    font-weight: 500;
    margin-left: 0.5vw;
}

.title-authorization{
    color:black;
    font-family: var(--fontReview);
    font-weight: 500;
}

.authorization-input {
    display: flex;
    flex-direction:column;
    font-weight: 300;
}

.authorization-input label {
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.authorization-input input {
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.8vh;
    margin-bottom: 2.4vh;
    padding: 1.2vh;
    padding-left: 0.9vw;
    border-radius: 0.7vh;
    border: 0.2vh solid #CED0D4;
    color: #9EA0AA;
    width: 27vw;
}

.reset-password{
    position:relative;  
    font-size:1.7vh;
    color: #9EA0AA;
    font-family: var(--fontReview);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.reset-password:hover{
    color: #0C122A;
}

.button-authorization {
    margin-top: 5.5vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.cancel, .log-in {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    justify-content: center;
    align-items: center;
}

.cancel {
    width: 8vw;
    background: #fff;
    border: 0.15vw solid #0C122A;
    color: #0C122A;
}

.log-in {
    width: 6vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}


/* registration */ 

.registration{
    position:relative;
    width: 30.5vw;
    height: 67.5vh;
    background-color: rgb(255, 255, 255);
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.authorization-title{
    color:grey;
    font-family: var(--fontReview);
    font-weight: 500;
}

.registration-title{
    color:black;
    font-family: var(--fontReview);
    font-weight: 500;
    margin-left: 0.5vw;
}

.write-name, .write-email, .write-password, .confpass{
    display: flex;
    flex-direction:column;
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
}

.registration label{
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.registration input{
    display: flex;
    flex-direction:column;
    font-weight: 300;
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.8vh;
    margin-bottom: 2vh;
    padding: 1.2vh;
    padding-left: 0.9vw;
    border-radius: 0.7vh;
    border: 0.2vh solid #CED0D4;
    color: #9EA0AA;
    width: 27vw;
}

.have-account {
    position:relative;  
    font-size:1.7vh;
    color: #9EA0AA;
    font-family: var(--fontReview);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.have-account:hover{
    color: #0C122A;
}

.button-registration {
    margin-top: 5.5vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.decline, .register {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decline {
    width: 8vw;
    background: #fff;
    border: 0.15vw solid #0C122A;
    color: #0C122A;
}

.register {
    width: 11vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}

.public-agreement p{  
    font-size:1.5vh;
    color: #9EA0AA;
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.7vh;
}

.public-agreement a{
    color: #B62D11;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.7vh;
}


.public-agreement{
    margin-top: 2.5vh;
}

/* registration complete */

.registration-complete{
    position:relative;
    width: 30.5vw;
    height: 23vh;
    background-color: #ffffff;
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.close-registration img, .close-registration-complete img,  .close-authorization img {
    width: 1.3vh;
    cursor: pointer;
}

.close-registration, .close-registration-complete,  .close-authorization{ 
    position: absolute;
    display: flex;
    background-color: transparent;
    border: none;
    left: 28.8vw;
    top: 2vh;
}

.registration-complete .titles{
    color:black;
    font-family: var(--fontReview);
    font-weight: 500;
}

.registration-complete .account-created {
    margin-top: 2vh;
    position:relative;  
    font-size:1.7vh;
    font-family: var(--fontReview);
    font-weight: 500;
    margin-bottom: 4.8vh;
    color: #9EA0AA;
}

.visit-website {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}

.eye{ 
    position:relative;
    width: 2vh;
    height: 2vh;
    background-image: url("/static/icon/eye_off.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    left: 54vh;
    top: 3.5vh;

}