*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    /* головнв вісь */
    flex-direction: column;
    /* позиціонування по головній вісі */
    justify-content: start;
    /* позиціонування по другорядній вісі */
    align-items: center;
    background-color: #FFFFFF;
}

#cart-modal {
    display: none;
}

#cart-modal.active {
    display: block;
}

#cart-modal iframe {
    position: fixed;
    right: 7vw;
    top: 15vh;
    width: 40vw;
    height: 80vh;
    background: #ffffff;
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1000;
}

#cart-modal iframe {
    scrollbar-width: thin;
    scrollbar-color: #565656 #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar {
    width: 8px;
}

#cart-modal iframe::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 4px;
}

#cart-modal iframe::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

.notification{
    display: block;
    z-index: 5; 
    position: fixed;
    background-color: #488047;
    width:100%;
}

.added-to-cart-text{
    display:flex;
    justify-content: center;
    color: black;
    padding:1.5vh; 
    font-size: 3vh;
}