*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    /* головнв вісь */
    flex-direction: column;
    /* позиціонування по головній вісі */
    justify-content: start;
    /* позиціонування по другорядній вісі */
    align-items: center;
    background-color: #FFFFFF;
}

#cart-modal {
    display: none;
}

#cart-modal.active {
    display: block;
}

#cart-modal iframe {
    position: fixed;
    right: 7vw;
    top: 15vh;
    width: 40vw;
    height: 80vh;
    background: #ffffff;
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1000;
}

#cart-modal iframe {
    scrollbar-width: thin;
    scrollbar-color: #565656 #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar {
    width: 8px;
}

#cart-modal iframe::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 4px;
}

#cart-modal iframe::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

/* тут пишет мастер цсс */

.authorization {
    position:relative;
    width: 58vw;
    height: 43vh;
}

.titles{
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
    font-size: 2.5vh;
}

.title-registration{
    color:grey;
    font-family: var(--fontReview);
    font-weight: 500;
    margin-left: 0.5vw;
}

.title-authorization{
    color:black;
    font-family: var(--fontReview);
    font-weight: 500;
}

.authorization-input {
    display: flex;
    flex-direction:column;
    font-weight: 300;
}

.authorization-input label {
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.authorization-input input {
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.8vh;
    margin-bottom: 2.4vh;
    padding: 1.2vh;
    padding-left: 0.9vw;
    border-color: #CED0D4;
    border-radius: 0.3vh;
    color: #9EA0AA;
}

.reset-password{
    position:relative;  
    font-size:1.7vh;
    color: #9EA0AA;
    font-family: var(--fontReview);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.reset-password:hover{
    color: #0C122A;
}

.button-authorization {
    margin-top: 5.5vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.cancel, .log-in {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel {
    width: 8vw;
    background: #fff;
    border: 0.15vw solid #0C122A;
    color: #0C122A;
}

.log-in {
    width: 6vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}


/* Тут ПИШЕТ подмастерье CSS либо же Иван. */ 

.registration{
    position:relative;
    left:1vh;
}

.authorization-title{
    color:grey;
    font-family: var(--fontReview);
    font-weight: 500;
}

.registration-title{
    color:black;
    font-family: var(--fontReview);
    font-weight: 500;
    margin-left: 0.5vw;
}

.write-name{
    display: flex;
    flex-direction:column;
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.write-email{
    display: flex;
    flex-direction:column;
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.write-password{
    display: flex;
    flex-direction:column;
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.confpass{
    display: flex;
    flex-direction:column;
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.registration label{
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.8vh;
}

.registration input{
    display: flex;
    flex-direction:column;
    font-weight: 300;
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.8vh;
    margin-bottom: 2.4vh;
    padding: 1.2vh;
    padding-left: 0.9vw;
    border-color: #CED0D4;
    border-radius: 0.3vh;
    color: #9EA0AA;
}

.have-account {
    position:relative;  
    font-size:1.7vh;
    color: #9EA0AA;
    font-family: var(--fontReview);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.have-account:hover{
    color: #0C122A;
}

.decline, .register {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decline {
    width: 8vw;
    background: #fff;
    border: 0.15vw solid #0C122A;
    color: #0C122A;
}

.register {
    width: 6vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}