*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    /* головна вісь */
    flex-direction: column;
    /* позиціонування по головній вісі */
    justify-content: start;
    /* позиціонування по другорядній вісі */
    align-items: center;
    background-color: #FFFFFF;
}


#cart-modal, #user-modal {
    display: none;
}

#cart-modal.active, #user-modal.active {
    display: block;
}

#cart-modal iframe{
    position: fixed;
    right: 7vw;
    top: 15vh;
    width: 40vw;
    height: 80vh;
    background: #ffffff;
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1000;
}

/* user modal styles */
#user-modal iframe {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 50vh;
    border: none;
    border-radius: 2vh;
    background: #fff;
    box-shadow: 0 0 1.25rem rgba(0,0,0,.2);
    z-index: 1000;
}

#user-modal.authorization iframe {
    width: 30vw;
    height: 50vh;
}

#user-modal.registration iframe {
    width: 30vw;
    height: 90vh;
    padding: 3vh;
}

#user-modal.forgot-password iframe {
   height: 40vh;
}

#cart-modal.empty iframe {
    font-size: 2.5vh;
    height: 55vh;
}

/* если корзина с товарами */
#cart-modal.filled iframe {
    height: 80vh;
}

#cart-modal iframe {
    scrollbar-width: thin;
    scrollbar-color: #565656 #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar {
    width: 8px;
}

#cart-modal iframe::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#cart-modal iframe::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 4px;
}

#cart-modal iframe::-webkit-scrollbar-thumb:hover {
    background: #333333;
}


/* registration complete */

.registration-complete{
    position:relative;
    width: 30.5vw;
    height: 23vh;
    background-color: #ffffff;
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.close-registration img, .close-registration-complete img,  .close-authorization img, .close-password-reset img, .close-password-reset-final img {
    width: 1.3vh;
    cursor: pointer;
}

.close-registration, .close-registration-complete,  .close-authorization, .close-password-reset, .close-password-reset-final{ 
    position: absolute;
    display: flex;
    background-color: transparent;
    border: none;
    left: 28.8vw;
    top: 2vh;
}

.registration-complete .titles{
    color:black;
    font-family: var(--fontReview);
    font-weight: 500;
}

.registration-complete .account-created {
    margin-top: 2vh;
    position:relative;  
    font-size:1.7vh;
    font-family: var(--fontReview);
    font-weight: 500;
    margin-bottom: 4.8vh;
    color: #9EA0AA;
}

.visit-website {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}

.eye{ 
    position:relative;
    width: 2vh;
    height: 2vh;
    background-image: url("/static/icon/eye_off.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    left: 54vh;
    top: 3.5vh;

}

/* password reset */

.password_reset {
    position:relative;
    width: 30.5vw;
    height: 29.4vh;
    background-color: #ffffff;
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.password_reset label{
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.password_reset input{
    display: flex;
    flex-direction:column;
    font-weight: 300;
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.8vh;
    padding: 1.2vh;
    padding-left: 0.9vw;
    border-radius: 0.7vh;
    border: 0.2vh solid #CED0D4;
    color: #9EA0AA;
    width: 27vw;
}

.button-password-reset {
    margin-top: 5.5vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.send_an_email {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}

/* password reset 2 */

.password_reset_2 {
    position:relative;
    width: 30.5vw;
    height: 39.4vh;
    background-color: #ffffff;
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.password_reset_2 label{
    font-family: var(--fontReview);
    font-weight: 300;
    font-size: 1.7vh;
    margin-bottom: 0.7vh;
}

.password_reset_2 input{
    display: flex;
    flex-direction:column;
    font-weight: 300;
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.8vh;
    padding: 1.2vh;
    padding-left: 0.9vw;
    border-radius: 0.7vh;
    border: 0.2vh solid #CED0D4;
    color: #9EA0AA;
    width: 27vw;
}

.button-password-reset-2 {
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.save_password {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.7vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}

/* password reset final */

.password_reset_final {
    position:relative;
    width: 30.5vw;
    height: 25.7vh;
    background-color: #ffffff;
    padding: 2vh;
    padding-left: 1.4vw;
    border-radius: 1.7vh;
    margin-bottom: 3vh;
}

.password-reset-complete-message p{ 
    font-size:1.5vh;
    color: #9EA0AA;
    font-family: var(--fontReview);
    font-weight: 400;
    font-size: 1.7vh;
}

.password-reset-complete-message{
    margin-top: 2.5vh;
}

.button-password-reset-final {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.save_password_final {
    font-family: var(--fontReview);
    font-weight: 500;
    height: 5.5vh;
    border-radius: 5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5vw;
    background: #0C122A;
    color: #fff;
    border: none;
    padding: 0;
    font-weight: 500;
}