.ellipse_footer{
    position: absolute;
    bottom: 64vh;
    width: 110vw;
    height: 90vh;
    border-radius: 80%;
    background-color: #ffffff;
    z-index: 0;
}


.footer_drones{
    position: absolute;
    bottom: 45vh;
    font-family: var(--fontDrones);
    width: 60vw;
    color:#BAC2CB; 
    z-index: -2;
    user-select: none;
}

.navigation-footer{
    margin-top: 1.5vh;
    color: black;
    font-family: "font"
}

.footer-logo{
    color: rgb(165, 118, 118);
    font-family : "font"
}

.footer-square{
    color:rgb(70, 150, 150);
    width: 100px;
    height: 75px
}
.successful-shipments{
    color: black;
}

.review{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-top: 0vh;
    margin-bottom: 60vh; 
    gap: 2.5vw;
    z-index: 1;

}

.review h1{
    font-family: var(--fontReview);
    font-size: 5vh;
    color: #0C122A;
    font-weight: bold;
}

.successful-shipments-text, .clients-support-text, .satisfied-clients-text{
    display: flex;
    position: relative;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    color: #0C122A;
}

.successful-shipments, .clients-support, .satisfied-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
}

.navigation-footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw; 
    margin-top: 50vh; 
    font-family: var(--fontLinks);
    color: #0C122A;
    user-select: none;
}

.navigation-footer p {
    font-family: var(--fontLinks);
    font-size: 2vh;
    color: #0C122A;
}


.navigation-footer p:hover {
    cursor: pointer;
    color: #9EA0AA;

}


.copyright {
    position: absolute;
    text-align: center;
    color: #9EA0AA;
    font-family: var(--fontLinks);
    font-size: 1.75vh;
    bottom: 4vh;
}

.copyright p {
    margin: 0;
    padding: 5px 0;
    user-select: none;
}

.copyright p:hover {
    cursor: pointer;
    color: #0C122A;
}


.line {
    position: absolute;
    width: 85vw;
    color: #F4F4F4;
    height: 1.5px;
    background-color: #F4F4F4;
    border: none;
    bottom: 10vh;
}

footer {
    display: flex;
    align-content: center;
    position: relative;
    flex-direction: column;
    background-color: hsl(210, 19%, 84%);
    z-index: 1;
    height:100vh;
}

.menu-top, .menu-bottom{
    display: flex;
    gap: 32px;

}

.about-us-footer{
    position:relative;
    white-space:nowrap;
    right:1.5vh;
}
.menu-bottom{
    gap:0.5vh;
}
.contacts-footer{
    position:relative;
    right:2.5vh;
}
.cart-footer{
    position:relative;
    right:1.5vh;
}


@media (max-width:768px){
    .review{
        flex-direction: column;
        gap: 3vh;
        margin-bottom:70vh;
    }
    .clients-support-text{
        margin:1vh;
    }
    .successful-shipments-text{
        margin:1vh;
    }
    .satisfied-clients-text{
        margin:1vh;
    }
    .navigation-footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
   }

   .menu-top, .menu-bottom{
        justify-content: center;
   }

   .copyright {
        font-size: 2.75vh;
   }
}

