@font-face {
    font-family: "font";
    src: url("../fonts/GTWalsheimPro-UltraBold.ttf");
}

@font-face {
    font-family: "button";
    src: url("../fonts/GTWalsheimPro-Bold.ttf");
}

@font-face {
    font-family: "fontforp";
    src: url("../fonts/GTWalsheimPro-Light.ttf");
}

@font-face {
    font-family: 'links';
    src: url("../fonts/GTWalsheimProSchoolbook-Medium2.ttf");
}

@font-face {
    font-family: 'review';
    src: url("../fonts/GTWalsheimPro-Regular.ttf");
}

@font-face {
    font-family: 'drones';
    src: url("../fonts/GTWalsheimPro-UltraLight.ttf");
}



:root{
    --sizeImageProfile: 2.75vh;
    --fontTitle: "font";
    --fontParagraph: "fontforp";
    --fontLinks: 'links';
    --fontButton: 'links';
    --fontReview: 'review';
    --fontDrones: 'drones';
}


html, body {
    overflow-x: hidden !important;
    max-width: 100vw !important;
}

header, main, footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

.nav-header{
    position: fixed;
    top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 7vh;
    padding: 10px 40px 10px 40px;
    border: 1px solid #E4E4E7;
    border-radius: 62px;
    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(8px) saturate(115%);
    -webkit-backdrop-filter: blur(8px) saturate(115%);
    z-index: 100;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    font-family: var(--fontLinks);
}

.links a{
    font-family: var(--fontLinks);
    font-size: 1.75vh;
    color: #9EA0AA;
}

.links a:hover{
    color: #0C122A;
}
.profile{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2vw;
    width: 15vw;
}
.profile a div{
    width: var(--sizeImageProfile);
    height: var(--sizeImageProfile);
    background-repeat: no-repeat;
    background-size: var(--sizeImageProfile);
}
.cart{
    background-image: url('/static/icon/cart.svg');
}
.img-profile{
    background-image: url('/static/icon/profile.svg');
}
.cart:hover{
    background-image: url('/static/icon/cart_black.svg');
}
.img-profile:hover{
    background-image: url('/static/icon/profile_black.svg');
}

.VAY{
    background-color: #B62D11;
    /*background-image: url('/static/icon/not.png'); */
    width: 0.3vh;
    height: 0.3vh;
    position: relative;
    display: flex;
    border-radius: 50%;
    /*display-flex : - так пишется */
    bottom: 0.7vh;
    margin-left: 0.7vw;
    z-index: 1;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 1.75vh; /* Я не дебил, хотя лан могу им быть */
    font-family: var(--fontParagraph)
}

