<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('cart.static', filename='css/cart.css' ) }}">
</head>
<body>
    <main>
        <div class = 'cart-page'> 

                <h1 class = "cart-title">Кошик</h1>
                <img class = "cross" src="{{ url_for('static', filename='/icon/cross.png') }}" alt="Крестик">

                <div class = 'card-cart'>

                    <h1 class = "name-of-drone">DJI MINI 4K</h1>
                    <img class = "drone-img-cart" src="{{ url_for('shop.static', filename='images/products/DJI MINI 4K.png') }}" alt="Дрон">
                    <p class = "price">29 990₴</p>
                    <button class = "minus-button" id = "mark">
                        -
                    </button>
                    <h1 class = "amount">1</h1>
                    <button id = "mark" class = "plus-button">
                        +
                    </button>
                    <button class = "trash-can-button">
                        <img class = "trash-can" src="{{ url_for('static', filename='icon/trashcan.png') }}" alt="Урна"> 
                    </button>

                </div>
                <hr class = "cart-line"> 
                <br>
                <hr class = "cart-line"> 
                <div class = "order-sum"> 
                    <p class = "full-amount-title">Загальна сумма</p> 
                    <p class = "discounted">Заощаджено</p>
                    <p class = "with-discount">Зі знижкою </p>
                </div>

                <div class = "order-sum-result">
                    <p class = "full-amount">29900 ₴</p>
                    <p class = "save-discount">- 1105 ₴</p> <!--Конклюзия - В философии: это логическое умозаключение, сделанное на основе анализа данных или рассуждений. -->
                    <p class = "price-with-discount">289858 ₴</p> 
                </div>
                

                <button class = "move-to-bin">Перейти до кошика</button>
                <button class = "make-an-order">Оформити замовлення</button>
                <img class = "arrow" src="" alt="Стрелацька">

            </div>
        
            <div class = "empty_catalog">
                <p>Кошик</p>
                <img class = "cross" src="{{ url_for('static', filename='/icon/cross.png') }}" alt="Крестик">
                <p>Ваш кошик порожній.</p>
                <p>Почніть вибирати товари, щоб вони з’явилися тут</p>
                <button class="continue_shopping">Продовжити покупки</button>
            </div>

        </div>

    {% if list_products %}
        {% for product, count in list_products %}
            <div class="product-{{product.id}}">
                <img src="{{ url_for('shop.static', filename= 'images/products/' + product.product_name + '.png') }}" alt="{{product.product_name}}" width="200px" height="200px">
                <h4>{{ product.product_name }}</h4>
                <p>Кількість: <span class="count-{{product.id}}">{{ count }}</span></p>
                <!--  -->
                <!-- <form action="/delete_product_to_cart" method="post">
                    <button type="submit" name="delete" value="{{product.id}}">DELETE</button>
                </form> -->
                <button type = "button" class="delete" id="{{product.id}}">DELETE</button>
                <button type="button" class="plus" id="{{product.id}}">+</button>
                <button type="button" class="minus" id="{{product.id}}">-</button>
                <hr>
            </div>
        {% endfor %}
    {% endif %}


</main>
    <script type="module" src="{{ url_for('cart.static', filename= 'js/addProduct.js') }}"></script>
    <script type="module" src="{{ url_for('cart.static', filename= 'js/removeProduct.js') }}"></script>
    <script src="{{ url_for('cart.static', filename= 'js/deleteProduct.js') }}"></script>
</body>
</html>