main{
    margin-top: 20vh;
}

.catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7.5vh;         
    color: hsl(210, 19%, 84%);      
    text-align: center; 
    margin-bottom: 15vh;
    font-family: var(--fontTitle);
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: calc(25% - 1vw);
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.product_name{
    margin-top: 0.5vh;
    margin-bottom: 4.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 3vh;         
    color: hsl(0, 0%, 0%);      
    text-align: left; 
    font-family: var(--fontParagraph);
    font-weight: 800;
}

.product_price{
    margin-top: 0.5vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2vh;         
    color: hsl(0, 0%, 0%);      
    text-align: left; 
    font-weight: 700;
}

:root{
    --fontTitle: "font";
    --fontParagraph: "fontforp";
    --fontLinks: 'links';
    --fontButton: 'links';
    --fontReview: 'review';
    --fontDrones: 'drones';
}

p {
    font-family: var(--fontParagraph);
}

button {
    font-family: var(--fontButton); 
}

button:hover {
    cursor: pointer;
}

.sorting{
    position: absolute;
    left: 2vw;
    top: 15vh;
    display: flex;     /*  знаю что молодец */
    justify-content: flex-start;
    

}

.all-select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh; 
    height: 7vh;
    padding: 0vh;
    font-size: 2vh;
    background-color: #F4F4F4;
    border: none;
    border-radius: 50%;
    margin: 1vh;
}

.drones-select, .thermalImager-select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    padding: 0vh;
    font-size: 2vh; 
    background-color: #F4F4F4;
    border: none;
    border-radius: 50%;
    margin: 1vh; 
}