.ellipse_footer{
    position: absolute;
    bottom: 50vh;
    width: 180%;
    height: 300vh;
    border-radius: 80%;
    background-color: #FFFFFF;
    z-index: 0;
}

.ellipse_drones{
    position: absolute;
    bottom: 45vh;
    width: 180%;
    height: 280vh;
    border-radius: 50%;
    background-color: hsl(210, 19%, 84%);;
    z-index: -1;
}

.footer_drones{
    position: absolute;
    bottom: 25vh;
    font-family: var(--fontParagraph);
    font-size: 30vh;
    color:#BAC2CB; 
    z-index: -2;
}

.navigation-footer{
    margin-top: 15vh;
    color: black;
    font-family: "font"
}

.footer-logo{
    color: rgb(165, 118, 118);
    font-family : "font"
}

.footer-square{
    color:rgb(70, 150, 150);
    width: 100px;
    height: 75px
}
.successful-shipments{
    color: black;
}

.review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-top: 40vh;
    margin-bottom: 40vh; 
    gap: 2.5vw;
    z-index: 1;

}

.review h1{
    font-family: var(--fontReview);
    font-size: 5vh;
    color: #0C122A;
    font-weight: bold;
}

.successful-shipments-text, .clients-support-text, .satisfied-clients-text{
    display: flex;
    position: relative;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    color: #0C122A;
}

.successful-shipments, .clients-support, .satisfied-clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navigation-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw; 
    margin-bottom: 25vh; 
    font-family: var(--fontLinks);
    color: #0C122A;
}

.navigation-footer p{
    display: flex;
    justify-content: space-between;
    font-family: var(--fontLinks);
    font-size: 2vh;
    color: #0C122A;
}

footer {
    height: 100vh;
    background-color: hsl(210, 19%, 84%);
    z-index: -3;
}

.navigation-footer p:hover {
    cursor: pointer;
    color: #9EA0AA;
}

.copyright {
    text-align: center;
    padding: 3vh;
    color: #9EA0AA;
    font-family: var(--fontLinks);
    font-size: 14px;
    margin-top: 20px;
}

.copyright p {
    margin: 0;
    padding: 5px 0;
    user-select: none;
}

.line {
    width: 85vw;
    color: #F4F4F4;
    height: 1px;
    background-color: #F4F4F4;
    border: none;
}