.about_us { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vh;         
    color: hsl(210, 19%, 84%);      
    text-align: center;      
}

.news-in-website h1{
    margin-top: 25vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7.5vh;         
    color: hsl(210, 19%, 84%);      
    text-align: center;     
}

.about_us_p{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2vh;
    font-size: 2.5vh;            
    color: rgb(0, 0, 0);       
    text-align: center;     
    margin-top: 20px; 
}

.button_read{
    font-size: 2vh;  
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5vw;
    width: 16vw;
    height: 8vh;
    border-radius: 5vh;
    border: 0.2vw solid black;
    background-color: #ffffff;
    color: #000000;
    margin-top: 30px;
    padding: 1.5vh 3vw 1.5vh 3vw; 
}


.buy-button{
    font-size: 2vh;  
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1.5vw;
    width: 16vw;
    height: 8vh;
    border-radius: 5vh;
    border: 0.2vw solid white;
    background-color: transparent;
    color: white;
    margin-top: 30px;
    padding: 1.5vh 3vw 1.5vh 3vw; 
}


.news_on_site{
    font-size: 40px;        
    font-weight: 900;     
    color: #656565;       
    text-align: center;     
    margin-top: 40px; 
}

.news-in-website p{
    color: white;
    font-family: var(--fontParagraph);
}

.news-in-website h2{
    color: white;
    font-family: var(--fontParagraph);
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94.5vw;
    gap: 2vw;
}

.card-drones{
    position: relative;
    width: 50vw;
    height: 50vh;
    border-radius: 1vh;
    overflow: hidden;
}

.card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2vh;
    z-index: -1;
}
/* import turtle */
.card-drones[data-card-type="brown"] .card-bg {
    background-image: linear-gradient(to top, rgb(214, 146, 63), 30%, transparent 95%);
}

.card-drones[data-card-type="black"] .card-bg {
    background-image: linear-gradient(to top, rgb(0, 0, 0), 30%, transparent 95%);
}

.card-drones[data-card-type="blue"] .card-bg {
    background-image: linear-gradient(to top, rgb(0, 64, 255), 30%, transparent 95%);
}
.news-drones-text {
    position: absolute;
    bottom: 0;
    color: #ffffff;
}


.news-drones-text{
    margin-top: 180px;
    margin-left: 10px;
}

.menu_drones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu_drones h1{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7.5vh;         
    color: hsl(210, 19%, 84%);      
    text-align: center; 
}

.catalog_drones {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: 0;
    padding: 0 2vw;
}

.catalog_drone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15%;
    flex: 0 1 5vw;
    margin: 0 4vw;
}

.menu_drones h2{
    margin-top: 0.5vh;
    margin-bottom: 4.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 3vh;         
    color: hsl(0, 0%, 0%);      
    text-align: left; 
    font-family: var(--fontParagraph);
}

.catalog_drones p{
    margin-top: 0.5vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2vh;         
    color: hsl(0, 0%, 0%);      
    text-align: left; 
    font-family: var(--fontParagraph);
    font-weight: 700;
}

.catalog_drones .sale {
    margin-top: 0.5vh;
    margin-bottom: 7vh;
    display: inline-block;
    margin-right: 1vw;
    font-size: 2vh;         
    color: hsl(0, 0%, 0%);      
    text-align: left; 
    font-family: var(--fontParagraph);
    font-weight: 700;
    text-decoration: line-through;
}

.catalog_drones .red_sale{
    display: inline-block;
    font-size: 2vh;         
    color: rgb(255, 0, 0);      
    text-align: left; 
    font-family: var(--fontParagraph);
    font-weight: 700;
}

.drone {
    width: 15vw;
    height: auto;
    margin-top: 4.5vh;
    margin-bottom: 2.7vh;
}

.button_catalog_drones {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;  
    gap: 1.2vw;
    width: 16vw;
    height: 8vh;
    border-radius: 5vh;
    padding: 1.5vh 3vw 1.5vh 3vw; 
    background-color: #0C122A;
    margin: 4.5vh auto 0;
    border: none;
    color: #ffffff;
}