*{
    font-family: var(--fontTitle);
}

@font-face {
    font-family: "font";
    src: url("../fonts/GTWalsheimPro-UltraBold.ttf");
}

@font-face {
    font-family: "button";
    src: url("../fonts/GTWalsheimPro-Bold.ttf");
}

@font-face {
    font-family: "fontforp";
    src: url("../fonts/GTWalsheimPro-Light.ttf");
}

@font-face {
    font-family: 'links';
    src: url("../fonts/GTWalsheimProSchoolbook-Medium2.ttf");
}

@font-face {
    font-family: 'review';
    src: url("../fonts/GTWalsheimPro-Regular.ttf");
}

@font-face {
    font-family: 'drones';
    src: url("../fonts/GTWalsheimPro-UltraLight.ttf");
}

:root{
    --sizeImageDrone: 115vh;
    --fontTitle: "font";
    --fontParagraph: "fontforp";
    --fontLinks: 'links';
    --fontButton: 'links';
    --fontReview: 'review';
    --fontDrones: 'drones';
}

p {
    font-family: var(--fontParagraph);
}

button {
    font-family: var(--fontButton); 
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}


header{
    height: 100vh;
    background-color: hsl(210, 19%, 84%);
    margin-bottom: 200px;
}
/* */
.ellipse{
    position: absolute;
    top: 60vh;
    width: 110%;
    height: 90vh;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.drones{
    position: absolute;
    top: 11vh;
    width: var(--sizeImageDrone);
    height: var(--sizeImageDrone);
}

.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35vh;
    font-size: 8.24vh;
    color: #FFFFFF;
    font-family: var(--fontTitle);
}

.slogan p{
    font-family: var(--fontTitle);
}

.catalog{
    /*position: absolute;
    top: 85vh;
    right: 10vw;*/

    position: absolute;
    width: 22vw;
    height: 3.2vh;
    margin: 55vh 0vw 0vh 64vw;  
}


.catalog_text{
    display: flex;
    font-size: 2.5vh; 
    color: #0C122A;
    text-align: left;
    font-family: var(--fontParagraph);
}

.button_catalog {
    /*display: flex;
    justify-content: right;
    color: #ffffff;
    background-color: black;
    margin-top: 5vh;
    padding: 1.5vh 3vw 1.5vh 3vw; 
    border: none;
    border-radius: 3vw;*/
    align-items: center;
    justify-content: center;
    display: flex;
    width: 14vw;
    height: 7vh;
    border-radius: 5vh;
    background-color: #0C122A;
    margin-top: 4.5vh; 
    border: none;
    color: #ffffff;
    font-size: 2vh; 

}

.arrow {
    width: 2vh;
    height: 2vh;
}

/* 

Тир-лист HTML тегов 

S tier - <h> <p> <div> <body> <!-- -->

A tier - <a> <br> <hr> <img> <script> <link> <button>

C tier - <title> <font> <header> <footer> <i> <b>

B tier - <span> <video> <code> <input> <option>

D tier - <audio> <abbr> <center> <mark>

*\

