

.navigation-footer{
    color: black;
    font-family: "font"
}

.footer-logo{
    color: black;
    font-family : "font"
}

.footer-square{
    color:rgb(70, 150, 150);
    width: 100px;
    height: 75px
}
.successful-shipments{
    color: black;
}

.review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-top: 40vh;
    margin-bottom: 40vh; 
    gap: 2.5vw;

}

.review h1{
    font-family: var(--fontParagraph);
    font-size: 5vh;
    font-weight: bold;
}

.successful-shipments-text, .clients-support-text, .satisfied-clients-text{
    display: flex;
    position: relative;
    align-items: center;
}

.navigation-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw; 
    margin-bottom: 25vh; 
    font-family: var(--fontLinks);
    color: #0C122A;
}

.navigation-footer p{
    display: flex;
    justify-content: space-between;
    font-family: var(--fontLinks);
    font-size: 2vh;
    color: #0C122A;
}

footer {
    background-color: #CDD5DD; 
}

.navigation-footer p:hover {
    cursor: pointer;
    color: #9EA0AA;
}

.copyright {
    text-align: center;
    padding: 3vh;
    color: #9EA0AA;
    font-family: var(--fontLinks);
    font-size: 14px;
    margin-top: 20px;
}

.copyright p {
    margin: 0;
    padding: 5px 0;
    user-select: none;
}

.line {
    width: 85vw;
    color: #F4F4F4;
    height: 1px;
    background-color: #F4F4F4;
    border: none;
}