:root{
    --sizeImageDrone: 115vh;
}

header{
    height: 100vh;
    background-color: #CDD5DD;
}

.ellipse{
    /*  */
    position: absolute;
    top: 60vh;
    /*  */
    width: 110%;
    height: 90vh;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.drones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35vh;
    position: absolute;
    top: 11vh;
    width: var(--sizeImageDrone);
    height: var(--sizeImageDrone);
}

.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35vh;
    font-size: 8.24vh;
    color: #FFFFFF;
    font-family: "font";
}

.catalog{
    position: absolute;
    top: 85vh;
    right: 10vw;
}

.button_catalog {
    position: absolute;
    justify-content: right;
    color: #ffffff;
    background-color: black;
    margin-top: 5vh;
    padding: 1.5vh 3vw 1.5vh 3vw; 
    border: none;
    border-radius: 3vw;
}

@font-face {
    font-family: "font";
    src: url("../fonts/GTWalsheimPro-UltraBold.ttf");
}