:root{
    --sizeImageDrone: 115vh;
}
header{
    height: 100vh;
    background-color: #CDD5DD;
}

.ellipse{
    /*  */
    position: absolute;
    top: 60vh;
    /*  */
    width: 110%;
    height: 90vh;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.drones{
    position: absolute;
    top: 11vh;
    width: var(--sizeImageDrone);
    height: var(--sizeImageDrone);
}
.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35vh;
    font-size: 8.24vh;
    color: #FFFFFF;
    font-family: "font";
}

.catalog{
    position: absolute;
    top: 85vh;
    right: 10vw;
    z-index: 10;
}

.button_catalog {
    display: flex;
    justify-content: right;
    color: #ffffff;
    background-color: black;
    margin-top: 5vh;
    padding: 1.5vh 3vw 1.5vh 3vw; 
    border: none;
    border-radius: 3vw;
}
.abt_us{
    font-size: 40px;        
    font-weight: 900;     
    color: #656565;       
    text-align: center;     
    margin-top: 60px; 
}
.nove_na_saiti{
    font-size: 40px;        
    font-weight: 900;     
    color: #656565;       
    text-align: center;     
    margin-top: 40px; 
}
@font-face {
    font-family: "font";
    src: url("../fonts/GTWalsheimPro-UltraBold.ttf");
}