*{
    font-family: var(--fontTitle);
}

@font-face {
    font-family: "font";
    src: url("../fonts/GTWalsheimPro-UltraBold.ttf");
}

@font-face {
    font-family: --fontParagraph;
    src: url("../fonts/GTWalsheimPro-Light.ttf");
}

p {
    font-family: --fontParagraph;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


:root{
    --sizeImageDrone: 115vh;
    --fontTitle: "font";
    --fontParagraph: "fontforp";
}

header{
    height: 100vh;
    background-color: hsl(210, 19%, 84%);
    margin-bottom: 200px;
}

.ellipse{
    /*  */
    position: absolute;
    top: 60vh;
    /*  */
    width: 110%;
    height: 90vh;
    border-radius: 50%;
    background-color: #FFFFFF;
}
.drones{
    position: absolute;
    top: 11vh;
    width: var(--sizeImageDrone);
    height: var(--sizeImageDrone);
}
.slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35vh;
    font-size: 8.24vh;
    color: #FFFFFF;
    font-family: var(--fontTitle);
}

.slogan p{
    font-family: var(--fontTitle);
}

.catalog{
    /*position: absolute;
    top: 85vh;
    right: 10vw;*/

    position: absolute;
    width: 22vw;
    height: 3.2vh;
    margin: 50vh 0vw 0vh 64vw;  
}


.catalog_text{
    font-size: 2.5vh; 
    font-weight: 500;
    color: #0C122A;
    text-align: left;
    font-family: var(--fontParagraph);
}

.button_catalog {
    /*display: flex;
    justify-content: right;
    color: #ffffff;
    background-color: black;
    margin-top: 5vh;
    padding: 1.5vh 3vw 1.5vh 3vw; 
    border: none;
    border-radius: 3vw;*/

    width: 10vw;
    height: 5vh;
    border-radius: 5vh;
    background-color: #0C122A;
    margin-top: 3.5vh; 
    border: none;
    color: #ffffff;
    
}

.about_us{
    font-size: 27px;        
    font-weight: 900;     
    color: hsl(210, 19%, 84%);      
    text-align: center;      
}

.about_us_p{
    margin-top: 10px;
    font-size: 22px;        
    font-weight: 400;     
    color: rgb(0, 0, 0);       
    text-align: center;     
    margin-top: 20px; 
}

.button_read{
    width: 13vw;
    height: 6vh;
    padding: 0%;
    border-radius: 7vh;
    border-color: black;
    background-color: #ffffff;
    color: #000000;
    margin-top: 30px;
}

.news_on_site{
    font-size: 40px;        
    font-weight: 900;     
    color: #656565;       
    text-align: center;     
    margin-top: 40px; 
}