{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('about_us.static', filename = 'css/about_us.css') }}"> 
{% endblock %} 
{% block content %}
    <div class="about-us">
        <h2 class = "about-us-title">ПРО НАС</h2>
        <p class = "about-us-first-text">Ми — команда, яка об'єднана спільною метою: зробити передові технології доступними для кожного, хто потребує точності, безпеки та інновацій. </p>
        <p class = "about-us-second-text">З 2022 року ми спеціалізуємось на постачанні дронів і тепловізорів для професійного, цивільного та волонтерського використання.</p>
        <img class = "about-us-image" src="{{ url_for( 'about_us.static', filename = 'images/skyscraper.jpg' ) }}" alt="">
    </div>
    <div class="our-mission">
        <h2 class = "our-mission-title">НАША МІСІЯ</h2>
        <p class = "about-us-third-text">Допомагати тим, хто стоїть на передовій — у прямому й переносному сенсі.</p>
        <p class = "about-us-fourth-text"> Ми обираємо тільки надійну техніку, яку перевіряємо самі. Наша мета — якість,</p>
        <p class = "about-us-fifth-text">простота, і підтримка на кожному етапі: від покупки до використання.</p>
        <img class = "our-mission-image" src="{{ url_for( 'about_us.static', filename = 'images/room.jpg' ) }}" alt="">
    </div>
    <div class="team-trust">
        <h2 class = "team-trust-title">КОМАНДА, ЯКІЙ МОЖНА ДОВІРЯТИ</h2>
        <p class = "about-us-third-text">Ми — не просто магазин. Ми — фахівці, які самі працюють із цією технікою й консультують з досвіду. Засновники проєкту — волонтери, військові та IT-спеціалісти, які об'єднали зусилля задля важливої справи.</p>
        <img class = "team-trust-image" src="{{ url_for( 'about_us.static', filename = 'images/people_window.jpg' ) }}" alt="">
    </div>
{% endblock %}
